<%@ Master Language="C#" ClassName="netpoint.masters.adminmodal" AutoEventWireup="true" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<head id="Head1" runat="server">
<asp:ContentPlaceHolder ID="TitleTag" runat="server">
    <title>zed eCommerce Administration</title>
</asp:ContentPlaceHolder>
</head>
<body>
<br />
    <div id="Modalwrap">
        <form id="Form1" runat="server" enctype="multipart/form-data">
            <div id="content">
                <div id="mainslotholder">
                    <asp:ContentPlaceHolder ID="mainslot" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </div>
            <asp:ContentPlaceHolder ID="hiddenslot" runat="server" Visible="false">
            </asp:ContentPlaceHolder>
        </form>
    </div>
</body>
</html>
