<%@ Master Language="C#" MasterPageFile="~/masters/commone.master" ClassName="netpoint.masters.catalog" AutoEventWireup="true" %>
<%@ Import Namespace="netpoint.classes" %>
<script runat="server">
    
</script>
<asp:Content ContentPlaceHolderID="headerslot" ID="header" runat="server">
    <asp:ContentPlaceHolder ID="headerslot" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ContentPlaceHolderID="mainslot" ID="mainslotcontent" runat="server">
    <asp:ContentPlaceHolder ID="mainslot" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ContentPlaceHolderID="menuslot" ID="menuslotcontent" runat="server">
    <asp:ContentPlaceHolder ID="menuslot" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ContentPlaceHolderID="hiddenslot" ID="hiddenslotcontent" runat="server">
    <asp:ContentPlaceHolder ID="hiddenslot" runat="server"></asp:ContentPlaceHolder>
</asp:Content>