<%@ Master Language="C#" MasterPageFile="~/masters/common.Master" ClassName="netpoint.masters.catalogpartdetail" AutoEventWireup="true" %>
<%@ Import Namespace="netpoint.classes" %>

<asp:Content ContentPlaceHolderID="headerslot" ID="header" runat="server">
    <asp:ContentPlaceHolder ID="headerslot" runat="server"></asp:ContentPlaceHolder>
</asp:Content>

<asp:Content ContentPlaceHolderID="mainslot" ID="mainslotcontent" runat="server">

<div class="col-md-12">
<div class="itemcontainer">
		<div id="media">
		<asp:ContentPlaceHolder ID="partmedia" runat="server"></asp:ContentPlaceHolder>
		</div>

	<div class="product-detail-wrapper">
    <div id="name">
		  <asp:ContentPlaceHolder ID="partname" runat="server">&nbsp;</asp:ContentPlaceHolder>
		  <asp:ContentPlaceHolder ID="partcode" runat="server">&nbsp;</asp:ContentPlaceHolder>
		  <asp:ContentPlaceHolder ID="partequivalent" runat="server">&nbsp;</asp:ContentPlaceHolder>
		</div>

		<div class="manufacturer-name">
		<asp:ContentPlaceHolder ID="partmanufacturer" runat="server"></asp:ContentPlaceHolder>
		</div>
		
		<div class="product-detail-price"> 
		<asp:ContentPlaceHolder ID="partprice" runat="server"></asp:ContentPlaceHolder>
		</div>
		
		<asp:ContentPlaceHolder ID="partquantityadd" runat="server"></asp:ContentPlaceHolder>

		<asp:ContentPlaceHolder ID="partsize" runat="server">&nbsp;</asp:ContentPlaceHolder>

	  <div id="desc"> 
		  <asp:ContentPlaceHolder ID="partdescription" runat="server">&nbsp;</asp:ContentPlaceHolder></div>
	  <div id="BOM">
		  <asp:ContentPlaceHolder ID="kitpartslist" runat="server">&nbsp;</asp:ContentPlaceHolder></div>
	  <div id="prodline">
		<asp:ContentPlaceHolder ID="prodlineimage" runat="server">&nbsp;</asp:ContentPlaceHolder>
		<asp:ContentPlaceHolder ID="prodlinedrop" runat="server">&nbsp;</asp:ContentPlaceHolder>
		<asp:ContentPlaceHolder ID="partattributepicker" runat="server">&nbsp;</asp:ContentPlaceHolder>
		<asp:ContentPlaceHolder ID="prodlinegrid" runat="server">&nbsp;</asp:ContentPlaceHolder>
		<asp:ContentPlaceHolder ID="prodlinematrix" runat="server">&nbsp;</asp:ContentPlaceHolder>
      </div>
	  
      <div id="var">
	    <asp:ContentPlaceHolder ID="partvariant" runat="server">&nbsp;</asp:ContentPlaceHolder>
      </div>
	</div> <!-- /product-detail-wrapper-->
	
</div> <!-- /itemcontainer-->
</div>
</div>

<div class="row">
<div class="col-md-9 pull-right">
<div class="item-tab-wrapper">
		 <!-- tab "panes" --> 
		  <div class="css-panes"> 
			  <div id="remarks">
			  <h2>Remarks</h2>
			  <asp:ContentPlaceHolder ID="partremarks" runat="server"></asp:ContentPlaceHolder>
			  </div>
			    
			  <!-- <div id="b1udf"><asp:ContentPlaceHolder ID="partudfs" runat="server"></asp:ContentPlaceHolder></div> -->
			  <div id="cross">
			  <h2>Suggested</h2>
			  <asp:ContentPlaceHolder ID="partcrosssell" runat="server"></asp:ContentPlaceHolder><asp:ContentPlaceHolder ID="partsimilarsellers" runat="server"></asp:ContentPlaceHolder>
			  </div>
              <div id="notes">
              <h2>Designer Notes</h2>
	          <asp:ContentPlaceHolder ID="partnotes" runat="server"></asp:ContentPlaceHolder>
              </div>
		  </div>
</div>
</div>		  

	<!-- This clearing element should immediately follow the #mainContent div in order to force the #container div to contain all child floats -->
   <div id="itemfooter">
    <div id="att">
		  <asp:ContentPlaceHolder ID="partattributes" runat="server">&nbsp;</asp:ContentPlaceHolder></div>
  <!-- end #footer --></div>

</asp:Content>
<asp:Content ContentPlaceHolderID="menuslot" ID="menuslotcontent" runat="server">
    <asp:ContentPlaceHolder ID="menuslot" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ContentPlaceHolderID="hiddenslot" ID="hiddenslotcontent" runat="server">
    <asp:ContentPlaceHolder ID="hiddenslot" runat="server"></asp:ContentPlaceHolder>
</asp:Content>