<%@ Control Language="c#" Inherits="netpoint.admin.common.controls.FilePicker" Codebehind="FilePicker.ascx.cs" %>
<asp:TextBox id="txtFileName" runat="server" Width="125px"></asp:TextBox>
<asp:ImageButton id="btnPop" runat="server" ImageUrl="~/assets/common/icons/popup.gif" ToolTip="Pop"></asp:ImageButton>
