<%@ Control Language="c#" Inherits="netpoint.admin.common.controls.PartPicker" Codebehind="PartPicker.ascx.cs" %>
<asp:TextBox id="txtPartNo" runat="server" Width="125px" OnTextChanged="txtPartNo_TextChanged"></asp:TextBox>
<asp:ImageButton id="btnPop" runat="server" ImageUrl="~/assets/common/icons/popup.gif" ToolTip="Pop"></asp:ImageButton>
