<%@ Control Language="c#" Inherits="netpoint.admin.common.controls.SolutionPicker" Codebehind="solutionpicker.ascx.cs" %>
<asp:TextBox id="txtPickedNo" runat="server" Columns="6"></asp:TextBox>
<asp:Image id="btnPop" runat="server" ImageUrl="~/assets/common/icons/popup.gif"></asp:Image>
