<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="AddToWishList.ascx.cs" Inherits="netpoint.common.controls.AddToWishList" %>
<asp:LinkButton ID="WishButton" runat="server" Text="Add To Wish List" OnClick="WishButton_Click"></asp:LinkButton>