<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="pricedisplay.ascx.cs" Inherits="netpoint.common.controls.PriceDisplay" %>
<asp:Literal ID="hdnNotAvailable" runat="server" Text="N/A" Visible="false" />
<asp:Literal ID="hdnSplitter" runat="server" Text="" Visible="false" />