<%@ Control Language="c#" Inherits="netpoint.common.controls.ResourcePage" Codebehind="ResourcePage.ascx.cs" %>
<table id="Table1" cellspacing="1" cellpadding="1" width="100%" border="0" class="npbody">
	<tr>
		<td><asp:Image id="sysImage" runat="server" Visible="False" /></td>
		<td><asp:Literal id="sysPageBlurb" runat="server" Visible="False"></asp:Literal></td>
	</tr>
	<tr>
		<td colspan="2"><asp:Literal id="sysSource" runat="server"></asp:Literal></td>
	</tr>
</table>
