<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SearchSetList.ascx.cs" Inherits="netpoint.common.controls.SearchSetList" %>
<asp:DropDownList runat="server" ID="ddlList" AutoPostBack="true" CssClass="searchbox" OnSelectedIndexChanged="ddlList_SelectedIndexChanged"></asp:DropDownList>
<asp:Image ID="btnPop" runat="server" ImageUrl="~/assets/common/icons/edit.gif" ToolTip="Edit Saved List"></asp:Image>