﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="providerreturn.aspx.cs" Inherits="netpoint.commerce.flow2.providerreturn" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Provider Return</title>
</head>
<body>
    Handles response from payment provider
</body>
</html>
