.TopGroup
{
  z-index:99;
  position:relative;
}

.DefaultTab 
{
  color:black; 
  background-image: url(tab_bg.gif);
  font-family:Verdana; 
  font-size:10px; 
  font-weight: bold;
  cursor:pointer;
}

.DefaultTabHover 
{
  color:black; 
  background-image: url(hover_tab_bg.gif);
  font-family:Verdana; 
  font-size:10px; 
  font-weight: bold;
  text-decoration: underline;
  cursor:pointer;
}

.SelectedTab 
{
  color:black; 
  background-image: url(selected_tab_bg.gif);
  font-family:Verdana; 
  font-size:10px; 
  font-weight: bold;
  cursor:default;
}

.DisabledTab 
{
  color:#AAAAAA; 
  background-image: url(tab_bg.gif);
  font-family:Verdana; 
  font-size:10px; 
  font-weight: bold;
  cursor:default;
}

.MultiPage
{
  background-color:White;
  border: 1px solid #919B9C;
  width:487px;
  height:250px;
  position:relative;
  top:-1px;
  z-index:98;
}