/* CSS Document */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
    color: #000000;
    BACKGROUND-COLOR: #FFFFFF;
}
a {
    color: #414141;
}

table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	border: #D2CFCF;
    border-collapse:collapse;    
}

/* search form */
.searchinput {
    font-size:11px; 
    font-family:Arial, Helvetica, sans-serif; 
    color:#333; 
    width:110px;
} 

.npbutton {
	padding: 3px;
	padding-left: 8px;
	display: block;
	border: 1px solid #cecece;
	white-space: nowrap;
}

.npheader {
	font-size: 12pt;
	BACKGROUND-COLOR: #D2CFCF;
	color: #414141;
	font-weight: bold;
	padding-top: 6px;
	padding-bottom: 6px;
}
.npsubheader
{
    FONT-FAMILY: Verdana,Helvetica,Arial,sans-serif;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: 600;    
    COLOR: black;
	Height: 28px;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	background-image: url(labelbg.jpg); 
	background-repeat: repeat-x;
    BACKGROUND-COLOR: #DEDFCE;
    white-space: nowrap;
}

.nptable
{
	width: 100%;
	vertical-align: top;
	overflow: auto;
	border-collapse: collapse;
	table-layout: auto;
	border-color: Silver;
    border-width: 1px 1px 1px 1px;
    border-style: solid;

}
.npbody{
    FONT-FAMILY: Verdana,Helvetica,Arial,sans-serif;
    FONT-SIZE: 9pt; 
    FONT-WEIGHT: 500; 
    COLOR: black;
}
.npbody a
{
    FONT-SIZE: 8pt;
    FONT-WEIGHT:bold;
    TEXT-DECORATION: underline;
    COLOR: #333333;
    BACKGROUND-COLOR: transparent;
}
.npbody a:hover
{
    FONT-SIZE: 8pt;
    FONT-WEIGHT:bold;
    TEXT-DECORATION: none;
    COLOR: black;
    BACKGROUND-COLOR: transparent; 
}

.npbodyalt{
    FONT-FAMILY: Verdana,Helvetica,Arial,sans-serif;
    FONT-SIZE: 9pt; 
    FONT-WEIGHT: 500; 
    COLOR: black;
    BACKGROUND-COLOR: #EEEEEE; 
}
.npbodyalt a
{
    FONT-SIZE: 8pt;
    FONT-WEIGHT:bold;
    TEXT-DECORATION: underline;
    COLOR: #C50000;
    BACKGROUND-COLOR: transparent;
}
.npbodyalt a:hover
{
    FONT-SIZE: 8pt;
    FONT-WEIGHT:bold;
    TEXT-DECORATION: none;
    COLOR: black;
    BACKGROUND-COLOR: transparent; 
}
.npempty
{
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
	FONT-FAMILY: Verdana,Helvetica,Arial,sans-serif;
    FONT-SIZE: 10pt; 
    FONT-WEIGHT: 500; 
    COLOR: black;
    BACKGROUND-COLOR: #FFFFFF;
}
.nplabel
{
	FONT-FAMILY: Verdana,Helvetica,Arial,sans-serif;
    FONT-SIZE: 9pt; 
    FONT-WEIGHT: 500; 
    COLOR: black;
}

.npwarning
{
    COLOR: darkRed;
    FONT-FAMILY: Verdana, Arial;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: 700
}

.nphighlight
{
	background-color:red;
}
.npbannerslot{
	background-color:#FFFFFF;
}
.npleftslot{
	background-color:#FFFFFF;
}
.nprightslot{
	background-color:#FFFFFF;
}
.nptopslot{
	background-color:#FFFFFF;
}
.npbottomslot{
	background-color:#FFFFFF;
}
.npmainslot{
	background-color:#FFFFFF;
}
.nptrailerslot{
	background-color:#FFFFFF;
}

/* tree */
.TreeView 
{ 
  background-color:White;
  padding-top:4px; 
  padding-left:1px; 
  border: #7C7C94 0px solid; 
  cursor:default; 
}

.TreeNode 
{ 
  font-family: tahoma; 
  font-size: 11px; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
}

.GrayedTreeNode 
{ 
  font-family: tahoma; 
  font-size: 11px; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
  color:gray; 
  cursor:default;
}

.HoverTreeNode 
{ 
  font-family: tahoma; 
  font-size: 11px; 
  text-decoration:underline; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
  cursor: default; 
}

.SelectedTreeNode 
{ 
  font-family: tahoma; 
  font-size: 11px; 
  background-color: gray; 
  color:white; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
  cursor: default; 
}

.NodeEdit 
{
  border:1px gray solid;
  font-family: tahoma; 
  font-size: 11px;  
}

/*Date Picker*/
    .calendar_button
{
	border:none;
	cursor:pointer;
}

.picker
{
  background-color: #FFFFFF;
  border: 1px gray solid;
  font-size: 12px;
  font-family: "Verdana",monospace;
  padding: 2px;
  cursor: pointer;
}

.calendar td
{
  font-size:11px;
}

.title
{
	font-weight:bold;
  background-color:#D7D7E5;
}

.day
{
	width:25px;
  cursor:pointer;
  text-align:center;
  border-width:1px;
  border-color:#F6F6F6;
  border-style:solid;
}

.dayhover
{
	width:25px;
  cursor:pointer;
  text-align:center;
  text-decoration:underline;
  border-width:1px;
  border-color:#F6F6F6;
  border-style:solid;
}

.dayheader
{
	width:25px;
  text-align:center;
  border-width:1px;
  border-color:white;
  border-style:solid;
  font-weight:bold;
  background-color:#FFFFFF;
}

.othermonthday
{
  color:#999999;
}

.outofrangeday
{
  visibility:hidden;
}

.selectedday
{
	width:25px;
  background-color:#FBE694;
  color:#000000;
  border-width:1px;
  border-color:#BB5503 !important;
  border-style:solid;
  font-weight:bold;
}

.calendar
{
  border-style:solid;
  border-width:1px;
  border-color:Black;
  border-collapse:collapse;
  background-color:#FFFFFF;
  cursor:default;
}

.month
{
  background-color:#F6F6F6;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:5px;
  margin-top:0px;
}

.nextprev
{
  cursor:pointer;
  height:25px;
  vertical-align:center;
  padding:0px 5px 0px 5px;
}

.selector
{
  width:14px;
  cursor:pointer;
  text-align:left;
  vertical-align:center;
  background-color:#FFFFFF;
}

/*Date Picker*/
    .calendar_button
{
	border:none;
	cursor:pointer;
}

.picker
{
  background-color: #FFFFFF;
  border: 1px gray solid;
  font-size: 12px;
  font-family: "Verdana",monospace;
  padding: 2px;
  cursor: pointer;
}

.calendar td
{
  font-size:11px;
}

.title
{
	font-weight:bold;
  background-color:#D7D7E5;
}

.day
{
	width:25px;
  cursor:pointer;
  text-align:center;
  border-width:1px;
  border-color:#F6F6F6;
  border-style:solid;
}

.dayhover
{
	width:25px;
  cursor:pointer;
  text-align:center;
  text-decoration:underline;
  border-width:1px;
  border-color:#F6F6F6;
  border-style:solid;
}

.dayheader
{
	width:25px;
  text-align:center;
  border-width:1px;
  border-color:white;
  border-style:solid;
  font-weight:bold;
  background-color:#FFFFFF;
}

.othermonthday
{
  color:#999999;
}

.outofrangeday
{
  visibility:hidden;
}

.selectedday
{
	width:25px;
  background-color:#FBE694;
  color:#000000;
  border-width:1px;
  border-color:#BB5503 !important;
  border-style:solid;
  font-weight:bold;
}

.calendar
{
  border-style:solid;
  border-width:1px;
  border-color:Black;
  border-collapse:collapse;
  background-color:#FFFFFF;
  cursor:default;
}

.month
{
  background-color:#F6F6F6;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:5px;
  margin-top:0px;
}

.nextprev
{
  cursor:pointer;
  height:25px;
  vertical-align:center;
  padding:0px 5px 0px 5px;
}

.selector
{
  width:14px;
  cursor:pointer;
  text-align:left;
  vertical-align:center;
  background-color:#FFFFFF;
}