<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="common.master.cs" Inherits="netpoint.masters.common_master" %>
<!DOCTYPE html>
<html>
<head id="Head1" runat="server">
<!--Marker 3 common.Master-->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-21428916-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-21428916-5');
</script>
<!--These meta tags are to ensure browsers do not cache the website
Added due to a large rework on the website you can remove
after a few months since they slow down the website a bit-->
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="expires" content="0" />
<!--End of cache tags-->
<link rel="shortcut icon" href="<%= ThemesPath + "assets/img/favicon-16x16.png"%>"/>
 <title>ShopParinda Enter the stylish world of fashion handbags </title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="<%= ThemesPath + "assets/css/bootstrap.css"%>"/>
 <link rel="stylesheet" href="<%= ThemesPath + "assets/css/carousel.css"%>"/>
 <link rel="stylesheet" href="<%= ThemesPath + "theme.css?v=1.06"%>"/>
<link rel="stylesheet" type="text/css" href="https://mckleinusa.com/assets/common/themes/mcklein/assets/css/default.css" />
<link rel="stylesheet" type="text/css" href="https://mckleinusa.com/assets/common/themes/mcklein/assets/css/component.css" />
          <%-- Font icon StyleSheet --%>
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
 <asp:ContentPlaceHolder ID="headerslot" runat="server"></asp:ContentPlaceHolder>
 <script type='text/javascript' src="<%= ThemesPath  + "assets/js/jquery.js"%>"></script>
 <script type='text/javascript' src="<%= ThemesPath  + "assets/js/bootstrap.js"%>"></script>
 <script type='text/javascript' src="<%= ThemesPath  + "assets/js/holder.js"%>"></script>
 <script type='text/javascript' src="<%= ThemesPath  + "assets/js/modernizr.custom.js"%>"></script>
 <meta name="keywords" content="Womens Leather Briefcase, Faux Leather Tote, Stylish Backpacks, Crossbody Tote Bag " />
<meta name="description" content="Parinda is a brand focused entirely on providing affordable and fashionable travel options for today's working woman. Search our collection for the look that speaks to you." />

</head>
<body class="centerlayout">
<form id="Form1" runat="server">
	
	  <asp:ContentPlaceHolder ID="bannerslot" runat="server"></asp:ContentPlaceHolder>
	  <asp:ContentPlaceHolder ID="menuslot" runat="server"></asp:ContentPlaceHolder>
	  <asp:ContentPlaceHolder ID="topslot" runat="server"></asp:ContentPlaceHolder>

		<section class="container_2">
			<div class="row">
		  <asp:ContentPlaceHolder ID="mainslot" runat="server"></asp:ContentPlaceHolder>
		  
		  <aside class="col-md-3 pull-left">
		  <asp:ContentPlaceHolder ID="leftslot" runat="server"></asp:ContentPlaceHolder>
		  </aside>
		  
		  <aside class="col-md-3 pull-right">
	  	<asp:ContentPlaceHolder ID="rightslot" runat="server"></asp:ContentPlaceHolder>
			</aside>
			</div> <!-- /row -->
		
		</section>

		<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {margin:0;height:2000px;}

.icon-bar {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: black;
  background-color: rgba(255,255,255,0.5);
  font-size: 20px;
}

.icon-bar a:hover {
  color: white;
  background-color: #000;
}

.facebook, twitter, pinterest, instagram, youtube {
  background: white;
  color: black;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}
</style>

<div class="icon-bar">
  <a href="https://www.facebook.com/mckleinusa" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a> 
  <a href="https://twitter.com/McKleinUSA" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a> 
  <a href="https://www.pinterest.com/mckleinusa/" target="_blank" class="pinterest"><i class="fa fa-pinterest"></i></a> 
  <a href="https://www.instagram.com/mcklein.usa/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a> 
  <a href="https://www.youtube.com/channel/UCs2xbcgQVjZza0pVhL6k7gw" target="_blank" class="youtube"><i class="fa fa-youtube"></i></a>
</div>

		
		<footer>
                   <div class="container"> 
			<div class="row">
			<div class="col-md-12">
		  <asp:ContentPlaceHolder ID="bottomslot" runat="server"></asp:ContentPlaceHolder>
		  <asp:ContentPlaceHolder ID="trailerslot" runat="server"></asp:ContentPlaceHolder>
		  <asp:ContentPlaceHolder ID="footerslot" runat="server"></asp:ContentPlaceHolder>
			</div>
			</div>
                   </div>
		</footer>

  
  <asp:ContentPlaceHolder ID="hiddenslot" runat="server" Visible="false"></asp:ContentPlaceHolder>

</form>
</body>
</html>