<%@ Control Language="c#" Inherits="netpoint.dashboard.controls.ActivityNotes" Codebehind="ActivityNotes.ascx.cs" %>
<%@ Register TagPrefix="FTB" Namespace="FreeTextBoxControls" Assembly="FreeTextBox" %>
<table class="npadmintable">
    <tr>
        <td class="npadminbody" colspan="3">
            <asp:TextBox ID="txtNotes" runat="server" TextMode="MultiLine" Columns="73" Rows="20" />
        </td>
    </tr>
    <tr>
    </tr>
</table>