<%@ Register TagPrefix="NP" Namespace="NetPoint.WebControls" Assembly="NetPoint.WebControls" %>
<%@ Control Language="c#" Inherits="netpoint.dashboard.controls.DashboardTab" Codebehind="DashboardTab.ascx.cs" %>
<table class="npadmintable">
    <tr>
        <td class="npadminheader">
        &nbsp;
        </td>
        <td class="npadminheader" align="right">
            <asp:DropDownList ID="UserList" AutoPostBack="True" runat="server" CssClass="npadminbody"></asp:DropDownList>
        </td>
    </tr>
</table>
