<%@ Page MasterPageFile="~/masters/admin.master" Language="c#" Inherits="netpoint.admin.common.pages.preview" Codebehind="preview.aspx.cs" %>

<asp:Content ID="main" runat="server" ContentPlaceHolderID="mainslot">
    <asp:label id="LabelPreview" runat="server" text="Label"></asp:label>
</asp:Content>
