.SiteMap
{
  border:1px solid black;
  background-color:white;
  font-family: verdana; 
  font-size: 10px;
}

.Category
{
  color: #55009B; 
  font-family: verdana; 
  font-size: 15px;
  font-weight: bold; 
  cursor: default; 
}

.CategoryBreak
{
  background-color: #FFCC00; 
  font-size: 1px;
  width: 535px;
  height: 5px; 
  margin-top: 5px;
}

.RootNode
{ 
  font-family: verdana; 
  font-size: 11px;
  font-weight:bold;
  padding:3px;
  padding-top:5px;
  padding-bottom:5px;
} 

.RootNode a
{ 
  color: #666666;
  text-decoration:none;
} 

.RootNode a:hover
{ 
  color: #666666;
  text-decoration:underline;
} 

.LeafTableCell
{
  background-image: url(images/line_separator.gif); 
  padding-left: 5px;
}

.LeafNode
{ 
  font-family: verdana; 
  font-size:10px;  
  padding:3px;
} 

.LeafNode a
{ 
  color: #999999;
  text-decoration:none;
} 

.LeafNode a:hover
{ 
  color: black;
  text-decoration:underline;
} 

