<%@ Control Language="c#" Inherits="netpoint.admin.catalog.controls.CategoryDescription"
    Codebehind="CategoryDescription.ascx.cs" %>
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center" class="npadminbody">
            <asp:TextBox ID="Content" runat="server" TextMode="MultiLine" ClientIDMode="Static"></asp:TextBox>
        </td>
    </tr>
</table>
