.CountDownRow {
  background-color: #03878f;
  margin-bottom: 20px;
  height: 500px;
}


                                                 COPY OF OLD IDEA 7/16

.FlashAnimation{
  -webkit-animation: color-change 4s infinite;
  -moz-animation: color-change 4s infinite;
  -o-animation: color-change 4s infinite;
  -ms-animation: color-change 4s infinite;
  animation: color-change 4s infinite;
  margin-left: 4vw;
  margin-right: 6vw;
}
  @-moz-keyframes color-change {
    0% { color: red; }
    17% { color: orange; }
    33% { color: yellow; }
    50% { color: green; }
    66% { color: blue; }
    83% { color: purple; }
    100% { color: red; }
  }
  @-ms-keyframes color-change {
    0% { color: red; }
    17% { color: orange; }
    33% { color: yellow; }
    50% { color: green; }
    66% { color: blue; }
    83% { color: purple; }
    100% { color: red; }
  }
  @-o-keyframes color-change {
    0% { color: red; }
    17% { color: orange; }
    33% { color: yellow; }
    50% { color: green; }
    66% { color: blue; }
    83% { color: purple; }
    100% { color: red; }
  }
  @keyframes color-change {
    0% { color: red; }
    17% { color: orange; }
    33% { color: yellow; }
    50% { color: green; }
    66% { color: blue; }
    83% { color: purple; }
    100% { color: red; }
  }
.countdownContainer{
  background-color: #03878f;
  text-align: center;

}
.countdown{
  font-size: 2vw;
  font-family: Century Gothic;
  font-weight: bold;
  background-color: #03878f;
  color: #fff;
  height: 20.6vw;
  width: 30vw;
  float: left;
  margin: auto;
  padding-top: 11vh;
  position: relative;
}

#demo{
  margin-left: 5vw;
  margin-right: 7vw;
  margin-top: 5vh;
  padding: 10px;
  background-color: #42daf5;
  position: relative;
  -webkit-animation-name: ColorChange2;
  -webkit-animation-duration: 8s;
  animation-name: ColorChange2;
  animation-duration: 8s;
  animation-direction: alternate-reverse;
}

.FlashSaleBanner{
  float: right;
}

@media screen (max-width:600px){
  .countdown, .FlashSaleBanner, .demo {
    width: 100%;
  }