<%@ Page language="c#" MasterPageFile="~/masters/default.master" Inherits="netpoint.common.accounts.settheme" Codebehind="settheme.aspx.cs" %>
<asp:Content ContentPlaceHolderID="mainslot" runat="server" ID="main">
</asp:Content>
