﻿<%@ Control Language="C#" CodeBehind="partremarksblock.ascx.cs" Inherits="netpoint.catalog.controls.partremarksblock" %>
<asp:Panel ID="RemarksPanel" Runat="server">
<asp:Label ID="lblRemarks" runat="server" />
</asp:Panel>