@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800);

/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
/* remember to define visible focus styles! 
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table {
    border-collapse:collapse;
    border-spacing:0;
    font-size: 12px;
}

#mainslotholder table tr {
	border-bottom: 1px solid #c8d4e6;
}

a {
	color: #08c;
	text-decoration: none;
}

td {
	text-indent: 10px;
	height: 26px;
	vertical-align: middle;
}

th {
	font-weight: 600;
	text-indent: 10px;
	text-align: left;
}

/* Admin Styles Start */

body {
	font-family: 'Open Sans', sans-serif;
	background: #f2f5fa url('img/noise.png') top left repeat;
}

/* Header */

#header {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 50px;
	background: #336ebd url('img/blue-top-bar.png') top left repeat-x;
	border-top: 1px solid #84cfff;
	border-bottom: 1px solid #113569;
}

#logo {
	padding-right: 3px;
	width: 180px;
	height: 50px;
	background: transparent url('img/top-bar-devider.png') bottom right no-repeat;
}

#logo img {
	padding-top: 4px;
	width: 180px;
}

#AdminShortcuts {
	position: fixed;
	top: 51px;
	right: -200px;
	bottom: 0;
	padding-top: 4px;
	width: 200px;
	height: 100%;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
	color: #96a0b0;
	text-shadow: 0 1px #e9edf5;
	background-color: #d9dfe9;
	border-left: 1px solid #bec6d3;
}

#AdminShortcuts table {
	
	display: none;
}

#topsearch {
	position: fixed;
	z-index: 1001;
	top: 0;
	right: 0px;
	display: block;
	padding-left: 5px;
	width: 200px;
	height: 50px;
	background: transparent url('img/top-bar-devider.png') bottom left no-repeat;
	float: right;
}

#ctl00_HeaderContent_ptbSearch {
	display: block;
	margin: 10px 0 0 10px;
	padding: 6px;
	width: 170px;
	color: #96a0b0;
	font-weight: 600;
	border-radius: 25em;
	-moz-box-shadow: 0 1px 0 #83a3cf;
	-webkit-box-shadow: 0 1px 0 #83a3cf;
	box-shadow: 0 1px 0 #83a3cf;
	border: 1px solid #12151d;
}

#ctl00_HeaderContent_btnSearch {
	display: none;
}

/* Breadcrumbs */

#ctl00_smpBreadCrumbs {
	position: fixed;
	z-index: 1001;
	top: 18px;
	left: 190px;
	color: #a7c7f0;
	font-size: 11px;
	font-weight: 600;
}

#ctl00_smpBreadCrumbs span {
	padding: 0 3px;
}

#ctl00_smpBreadCrumbs a {
	color: #a7c7f0;
}

#ctl00_smpBreadCrumbs a:hover {
	color: #fff;
	cursor: pointer;
}

/* Left Hand side Menu */

#menuslotholder {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 180px;
	height: 100%;
	background-color: #2c3547;
	border-right: 1px solid #fff;
	overflow-y: auto;
}

#ctl00_menuslot_npadminstrip_AdminNavBar {
	padding-top: 52px;
}

.TopItem {
	display: block;
	padding: 3px 0;
	color: #ecf1f9;
	line-height: 1.33333em;
	font-size: 11px;
	font-weight: 600;
	height: 20px;
	border-top: 1px solid #3d4454;
	border-bottom: 1px solid #181b20;
}

.TopItem td {
	padding-left: 10px;
	width: 100%;
	display: inline;
}

.TopItemHover {
	display: block;
	padding: 3px 0;
	color: #fff;
	line-height: 1.33333em;
	font-size: 11px;
	font-weight: 600;
	height: 20px;
	cursor: pointer;
	border-top: 1px solid #3d4454;
	border-bottom: 1px solid #181b20;
}

.TopItemActive {
	display: block;
	padding: 3px 0;
	line-height: 1.33333em;
	color: #fff;
	font-size: 11px;
	font-weight: 600;
	height: 20px;
	cursor: pointer;
}

.TopItem tr, .TopItemHover tr {
	width: 190px;
	display: inline;
}

.TopItem td, .TopItemHover td, .TopItemActive td {
	padding-left: 15px;
	width: 190px;
	display: inline;
}

.Level2Group td {
	padding: 5px 0 5px 25px;
	height: 10px;
	color: #41b0f6;
	font-size: 12px;
	font-weight: 400;
}

.Level2Group td:hover {
	color: #59c3ff;
	cursor: pointer;
}

/* Main content */

#content {
	padding: 50px 0 0 0;
	margin-left: 180px;

}

#mainslotholder {
	display: block;
	margin: 40px auto;
	width: 90%;
	border: 1px solid #a1a8b6;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	-moz-box-shadow: 0 1px 3px rgba(128,138,156,.6);
	-webkit-box-shadow: 0 1px 3px rgba(128,138,156,.6);
	box-shadow: 0 1px 3px rgba(128,138,156,.6);
	overflow: hidden;
}

.npadminpath {
	//position: fixed;
	top: 50px;
	left: 180px;
	z-index: 0;
	padding: 0 0 40px 0;
	margin: 0;
	width: 100%;
	height: 40px;
	color: #3a414f;
	font-size: 13px;
	font-weight: 600;
	line-height: 1em;
	text-indent: 10px;
	text-shadow: 0 1px #fff;
	background: #d2dae9;
}

.npadminheader {
	background-color: #d2dae9;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiZTFlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkZjFmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(bottom, #dbe1ed 0%, #edf1f5 100%);
	background-image: -o-linear-gradient(bottom, #dbe1ed 0%, #edf1f5 100%);
	background-image: -webkit-linear-gradient(bottom, #dbe1ed 0%, #edf1f5 100%);
	background-image: linear-gradient(bottom, #dbe1ed 0%, #edf1f5 100%);
}

.npadminheader a {
	margin: 0 6px 0 0;
	padding: 6px 6px 0 0;
}


/* tabs */
.TopGroupTabs {
	position: fixed;
	top: 50px;
	left: 184px;
	width: 100px;;
	height: 30px;
	color: #3a414f;
	font-size: 11px;
	font-weight: 400;
	line-height: 1.3333em;
	text-shadow: 0 1px #fff;
	border: none;
}

#ctl00_mainslot_TabStrip1, #ctl00_mainslot_CatalogTabStrip, #ctl00_mainslot_ProjectTabStrip, #ctl00_mainslot_PriceTabStrip, #Gctl00_mainslot_PartTabStrip_-1, #Gctl00_mainslot_media_ProjectTabStrip_-1 {
	position: fixed;
	top: 53px;
	left: 181px;
	right: 0;
	width: 100% !important;
	height: 25px;
	background: transparent url('img/white-gloss-bg.png') center left repeat-x !important;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #c8d4e6;
}

.TopGroupTabs td {
	text-indent: 0;
	height: 10px;
}

.SelectedTopLevelTab td {
	padding: 2px 13px 4px 13px !important;
}

.TopGroupTabs table {
	height: 18px;
}

.SelectedTopLevelTab {
	color: #fff;
	text-shadow: none;
	background-color: #618ac2;
	border-radius: 25em;
}

.TopLevelTabHover {
	color: #08c;
	cursor: pointer;
}

.TopGroupTabs tr {
	border: none !important;
}

.BulkGroupTabs {
	position: relative;
	top: 0;
	left: 0;
	padding: 10px 0;
	height: 20px;
	display: inline-block;
}

/* Default Homepage */

.default-landing-page {
	font-size: 12px;
}

.default-landing-page div {
	padding: 10px 0 10px 10px;
}

/* Saving Theme Icons */

#ctl00_mainslot_UpdateButton {
	position: fixed;
	top: 11px;
	right: 210px;
	z-index: 1001;
}

/* Theme Edit Styles */

#ctl00_mainslot_stylesheet_tbStyleSheetEdit {
	width: 98%;
	min-height: 800px;
	border: none;
}

#ctl00_mainslot_lblKeywords, #ctl00_mainslot_Keywords, #ctl00_mainslot_lblBlurb, #ctl00_mainslot_PageBlurb, #ctl00_mainslot_lblFriendlyURL, #ctl00_mainslot_txtFriendlyURL {
	display: block;
	margin: 0 auto;
	padding: 5px 0;
	width: 350px;
	font-size: 12px;
	float: none;
}



/* Content Tables */

.npadmintable {
	display: table;
	margin: 0px auto;
	max-width: 1200px;
	width: 100%;
	font-size: 13px;
	background-color: #fff;
	border-top: none !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.npadmintable tr, #Table1 tr, #ctl00_mainslot_CatalogMultiPage tr {
	padding: 2px 0;
	font-size: 12px;
	border-bottom: 1px solid #c8d4e6;
}

.npadminlabel {
	padding-right: 8px;
	font-size: 12px;
	font-weight: 600;
}

.npadminsubheader {
	padding: 2px 0;
	height: 20px;
	color: #292e34;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.33333em;
	background-color: #d9dfe5;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZjNmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(bottom, #eff3f9 0%, #fff 100%);
	background-image: -o-linear-gradient(bottom, #eff3f9 0%, #fff 100%);
	background-image: -webkit-linear-gradient(bottom, #eff3f9 0%, #fff 100%);
	background-image: linear-gradient(bottom, #eff3f9 0%, #fff 100%);
}

.npadminsubheader th {
	vertical-align: middle;
}

.npadminsubheader a {
	color: #292e34;
}

.npadmintable tr {
	padding: 4px 0;
	height: 26px;
}

.npadmintable tr td {
	vertical-align: middle;
}

.npadminbodyalt {
	background-color: #f2f4f7;
}

/* Catalog */

.MenuGroup {
	display: block;
	font-size: 13px;
	border: 1px solid #a1a8b6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	-moz-box-shadow: 0 2px 5px rgba(128,138,156,.6);
	-webkit-box-shadow: 0 2px 5px rgba(128,138,156,.6);
	box-shadow: 0 2px 5px rgba(128,138,156,.6);
}

.Level2GroupTabs {
	padding: 4px 0;
	height: 22px;
	font-size: 12px;
	background-color: #eee;
}


.MenuGroup tr {
	border-bottom: 1px solid #c8d4e6;
}

.MenuItemHover {
	background-color: #f2f4f7;
	cursor: pointer;
}

#Gctl00_mainslot_PartTabStrip_0 {
	background: transparent url('img/white-gloss-bg.png') center left repeat-x !important;
	border-top: 1px solid #fff;
	border-bottom: none;
}

.SelectedLevel2Tab {
	font-weight: bold;
}

.Level2TabHover {
	cursor: pointer;
}


/* System Definitions */


.current-default-price-list-label {
	padding: 4px 30px 20px 0;
	font-size: 14px !important;
	float: left;
	text-align: right;
}

.select-price-list-label {
	display: block;
	padding: 8px 0 0 0;
	text-align: right;
	font-style: italic;
	clear: both;
}

#ctl00_mainslot_ddlPricelists {
	padding: 30px 0 0 0;
	float: left;
}


/* Help */

#ctl00_mainslot_AboutPanel .npsubheader, #ctl00_mainslot_sysNetPointVersionNumber {
	font-weight: bold;
}

#ctl00_mainslot_AboutPanel .npbody {
	line-height: 1.5em;
}

#ctl00_mainslot_ActionPanel {
	margin: 0 auto;
	padding: 20px 0;
	width: 500px;
	font-size: 12px;
}

#ctl00_mainslot_ActionPanel.action-panel-about 
{
    width: 100%;
    text-align: center;
}
/* Footer */

#footer {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 0 0 0 200px;
	font-size: 11px;
	border: none;
}


/* Text Areas */

#ctl00_mainslot_Template, #Content, #ctl00_mainslot_SectionFullSourceCode, #ctl00_mainslot_tbMasterEdit {
	margin: 0;
	padding: 0;
	width: 99%;
	min-height: 500px;
	border: none;
}


/* Hidding Unecessary Elements */

#AdminIcons {
	display: none;
}

hr {
	display: none;
}

br {
	display: none;
}

/* */

#ctl00_mainslot_PartAvailability_dtAvailableDate_Calendar1_CalendarMonthsSwapTable {
	display: block;
}

.month tr td {

}

#config-table  input[type="password"] {
  display: block;
}

