<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/masters/common.master" Inherits="netpoint.catalog.repair" CodeBehind="repair.aspx.cs" %>

<asp:Content ContentPlaceHolderID="mainslot" runat="server" ID="main">


    Testing

</asp:Content>

