<%@ Page language="c#" Inherits="netpoint.classes.NPBasePage" %>
<%@ Register TagPrefix="np" TagName="testblock" Src="~/plugins/featuredrotator.ascx" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<script runat="server">


</script>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Sample Page using a plugin</title>
  </head>
  <body>
    <form id="Form1" method="post" runat="server">
        <np:testblock id="testblock" runat="server"></np:testblock>
    </form>  
  </body>
</html>
