<%@ Page Language="c#" Inherits="netpoint.classes.NPBasePage" %>
<%@ Import Namespace="netpoint.classes" %>
<%@ Import Namespace="netpoint.api.account" %>

<script language="C#" runat="server">
    protected void Page_Load(object sender, System.EventArgs e)
    {
        string password = "cex2006";
        string returnto = "~/common/accounts/myaccount.aspx";
        if (Request.Form["userid"] != null) {
            if (Request.Form["password"] != null && Request.Form["password"] == password) {
                NPUser u = new NPUser(Request.Form["userid"]);
                NPAccount a = new NPAccount(u.AccountID);
                if (u.Initialized) {
                    if (u.ActiveFlag && a.Active) {
                        base.Login(u.UserID, u.AccountID, false);
                        u.MarkLogin(base.Request.UserHostAddress);
                        u.ResolveCarts(base.SessionID);
                        Response.Redirect(returnto);
                    } else {
                        Response.Write("Account Locked");
                    }
                } else {
                    Response.Write("User not In System");
                }
            } else {
                Response.Write("No master password specified or master password incorrect");
            }
        } else {
            Response.Write("No userid specified");
        }
    }
    
  
</script>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" > 

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Single SignOn</title>
  </head>
  <body>
	
    <form id="Form1" method="post" runat="server">

     </form>
	
  </body>
</html>