﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="stringeditor.ascx.cs" Inherits="netpoint.plugins.stringeditor" %>
<div class="string-editor">
<asp:ImageButton ID="btnStringEditor" runat="server" ImageUrl="~/assets/common/icons/language.gif" OnClick="btnStringEditor_Click" ToolTip="Toggle String Editor" Visible="false"/>
</div>