<%@ Page Language="c#" MasterPageFile="~/masters/commonm.master" Inherits="netpoint.common.user.equipment" Codebehind="equipment.aspx.cs" %>
<%@ Register TagPrefix="np" TagName="UserMachinesBlock" Src="~/common/controls/UserMachinesBlock.ascx" %>
<asp:Content ContentPlaceHolderID="mainslot" runat="server" ID="main">
	
	<div class="col-md-9 white-bg pull-right">
		<table cellspacing="1" cellpadding="2" width="100%" border="0">
			<tr>
				<td class="user-header-breadcrumb" align="left">
					<asp:Image ID="imgMyAccount" runat="server" ImageUrl="~/assets/common/icons/user.gif" />
					<asp:HyperLink ID="lnkBack" runat="server" NavigateUrl="../accounts/myaccount.aspx" Text="My Account">My Account</asp:HyperLink>&gt;
					<asp:Image ID="Image1" runat="server" ImageUrl="~/assets/common/icons/equipment.gif" />
					<asp:Label ID="ltlMyEquipment" runat="server">My Equipment</asp:Label>[<asp:Label ID="lblUserID" runat="server"></asp:Label>]</td>
			</tr>
			<tr>
				<td><np:UserMachinesBlock ID="UserMachines" runat="server"></np:UserMachinesBlock></td>
			</tr>
		</table>
	</div>
	
</asp:Content>
