<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="common.master.cs" Inherits="netpoint.masters.common_master" %>
<!DOCTYPE html>
<html>
<head id="Head1" runat="server">
<!--Marker 1 commone.Master-->
<link rel="shortcut icon" href="<%= ThemesPath + "assets/img/favicon-16x16.png"%>"/>
 <title>McKleinUSA Shop business cases made with the modern standard of style and functionality for mobile professionals </title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="<%= ThemesPath + "assets/css/bootstrap.css"%>"/>
 <link rel="stylesheet" href="<%= ThemesPath + "assets/css/carousel.css"%>"/>
 <link rel="stylesheet" href="<%= ThemesPath + "theme.css"%>"/>
<link rel="stylesheet" type="text/css" href="<%= ThemesPath + "assets/css/default.css" />
<link rel="stylesheet" type="text/css" href="<%= ThemesPath + "assets/css/component.css" />
          <%-- Font icon StyleSheet --%>
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
 <asp:ContentPlaceHolder ID="headerslot" runat="server"></asp:ContentPlaceHolder>
 <script type='text/javascript' src="<%= ThemesPath  + "assets/js/jquery.js"%>"></script>
 <script type='text/javascript' src="<%= ThemesPath  + "assets/js/bootstrap.js"%>"></script>
 <script type='text/javascript' src="<%= ThemesPath  + "assets/js/holder.js"%>"></script>
 <script type='text/javascript' src="<%= ThemesPath  + "assets/js/modernizr.custom.js"%>"></script>

</head>
<body class="centerlayout">
<form id="Form1" runat="server">
	
	  <asp:ContentPlaceHolder ID="bannerslot" runat="server"></asp:ContentPlaceHolder>
	  <asp:ContentPlaceHolder ID="menuslot" runat="server"></asp:ContentPlaceHolder>
	  <asp:ContentPlaceHolder ID="topslot" runat="server"></asp:ContentPlaceHolder>

		<section class="container_2">
			
		  <asp:ContentPlaceHolder ID="mainslot" runat="server"></asp:ContentPlaceHolder>
		  
		  <aside class="col-md-3 pull-left">
		  <asp:ContentPlaceHolder ID="leftslot" runat="server"></asp:ContentPlaceHolder>
		  </aside>
		  
		  <aside class="col-md-3 pull-right">
	  	<asp:ContentPlaceHolder ID="rightslot" runat="server"></asp:ContentPlaceHolder>
			</aside>
			
		</section>
  <asp:ContentPlaceHolder ID="hiddenslot" runat="server" Visible="false"></asp:ContentPlaceHolder>
 
</form>

		
<footer>
  <div class="container">
			<div class="row">
			<div class="col-md-12">
                 
		  <asp:ContentPlaceHolder ID="bottomslot" runat="server"></asp:ContentPlaceHolder>
                  <asp:ContentPlaceHolder ID="trailerslot" runat="server"></asp:ContentPlaceHolder>
		  <asp:ContentPlaceHolder ID="footerslot" runat="server"></asp:ContentPlaceHolder>
			</div>
			</div>
   </div>
</footer>
</body>
</html>