.cbp-hrmenu {
	width: 100%;
	margin-top: -2em;
	
}

/* general ul style */
.cbp-hrmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* first level ul style */
.cbp-hrmenu > ul,
.cbp-hrmenu .cbp-hrsub-inner {
	width: 100%;
	max-width: 105em;
	margin: 0 5%;
	/* padding: 0px 0.875em;*/
}

.cbp-hrmenu > ul > li {
	display: inline-block;
	padding-left: 1em;
}

.cbp-hrmenu > ul > li > a {
	font-weight: 700;
	font-size:14px;
	padding: 1em 1em;
	color: #999;
	display: inline-block;
}

.cbp-hrmenu > ul > li > a:hover {
	color: #506f33;
	text-decoration: none;
}

.cbp-hrmenu > ul > li.cbp-hropen a {

	
}
.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
	color: #506f33;

}
.cbp-hrmenu > ul > li.cbp-hropen > cbp-hrsub> cbp-hrsub-inner a:hover {
	color:#F65;
	background: #3d5f8e;
	
}
/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
	display: none;
	position: absolute;
	background: #FFF;
	width: 100%;
	left: 0;
}

.cbp-hropen .cbp-hrsub {
	display: block;
	margin-top:-4px;
	padding-bottom: 3em;
}

.cbp-hrmenu .cbp-hrsub-inner > div {
	width: 20%;
    float: left;
    padding: 0 3em 0;
    margin-left: 7%;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
	content: " ";
	display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
	clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner > div a {
	line-height: 2em;
	color: #000;
	font-size:14px;
}

.cbp-hrsub h4 {
	color: #506f33;
	padding: 2em 0 0.6em;
	margin: 0;
	font-size: 14px;
	font-weight: 300;
    border-bottom: 1px solid #506f33;
}

/* Examples for media queries */

@media screen and (max-width: 52.75em) { 

	.cbp-hrmenu {
		font-size: 80%;
	}

}

@media screen and (max-width: 43em) { 

	.cbp-hrmenu {
		font-size: 120%;
		border: none;
		background-color: #ffffffe3;
	}

	.cbp-hrmenu > ul,
	.cbp-hrmenu .cbp-hrsub-inner {
		width: 100%;
		padding: 0;
	}

	.cbp-hrmenu .cbp-hrsub-inner {
		padding: 0 2em;
		font-size: 75%;
	}

	.cbp-hrmenu > ul > li {
		display: block;
		border-bottom: 4px solid #999;
	}

	.cbp-hrmenu > ul > li > a { 
		display: block;
		padding: 1em 3em;
	}

	.cbp-hrmenu .cbp-hrsub { 
		position: relative;
	}

	.cbp-hrsub h4 {
		padding-top: 0.6em;
	}

}

@media screen and (max-width: 36em) { 
	.cbp-hrmenu .cbp-hrsub-inner > div {
		width: 100%;
		float: none;
		padding: 0 2em;
	}
}



