﻿<%@ Page Language="C#" MasterPageFile="~/masters/admin.master" CodeBehind="synchmaplanding.aspx.cs" Inherits="netpoint.admin.synchmaplanding" %>
<%@ Register TagPrefix="ComponentArt" Namespace="ComponentArt.Web.UI" Assembly="ComponentArt.Web.UI" %>
<asp:Content ID="main" ContentPlaceHolderID="mainslot" runat="server"> 
</asp:Content>
