<%@ Control Language="C#" AutoEventWireup="true" Inherits="netpoint.commerce.controls.PartDescription" Codebehind="partdescription.ascx.cs" %>

<asp:HyperLink ID="sysPartNo" runat="server"></asp:HyperLink>&nbsp;-&nbsp;
<b><asp:label ID="sysPartName" runat="server"></asp:label></b>
<asp:Label ID="sysPartDescription" runat="server"></asp:Label>
<asp:Label ID="sysChildren" runat="server" CssClass="npbody"></asp:Label>

