<%@ Control Language="c#" Inherits="netpoint.admin.common.reports.controls.template" Codebehind="template.ascx.cs" %>
<div class="npadminbody" style="text-align:center">
	<asp:textbox id="txtTemplate" runat="server"  TextMode="MultiLine" Columns="65" Rows="20"></asp:textbox>
</div>
