<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="paymentoptionmessage.ascx.cs" Inherits="netpoint.admin.commerce.controls.paymentoptionmessage" %>
<asp:TextBox ID="Content" runat="server" TextMode="MultiLine" ClientIDMode="Static"></asp:TextBox>