.TopGroup
{
  background-color:#5A6B7D; 
  border:1px #8394AC solid; 
  cursor:default; 
}

.MenuGroup
{
  background-color:#F5F5F5;
  border:1px #4E5358 solid; 
  border-style:solid;
  cursor:default; 
}

.TopMenuItem
{
  background-color:#5A6B7D; 
  color:white; 
  font-family:tahoma; 
  font-size:12px; 
  border:1px #5A6B7D solid;
  cursor:default; 
}

.TopMenuItemHover 
{
  background-color:#C2C5C8; 
  background-image: url(top_item_bg.gif);
  color:white; 
  font-family:tahoma; 
  font-size:12px; 
  border:1px #DFE2E5 solid;
  cursor:default; 
}

.MenuItem
{
  border: 1px solid #F5F5F5; 
  color:#00025C;
  font-family:tahoma; 
  font-size:11px; 
  cursor:default; 
}

.MenuItemHover 
{
  background-color:#E4F1F7; 
  background-image: url(item_bg.gif);
  color:#00025C;
  border: 1px solid #AADAED; 
  font-family:tahoma; 
  font-size:11px; 
  cursor:default; 
}

.MenuBreak
{
  background-image:url(break_bg.gif);
  width:100%;
  height:2px;
}