<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ticketattributes.ascx.cs" Inherits="netpoint.admin.support.controls.ticketattributes" %>
<asp:Table ID="tbl" runat="server" CssClass="npadmintable">
</asp:Table>

