﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="workorderresolution.ascx.cs" Inherits="netpoint.admin.support.controls.workorderresolution" %>
<table border="0" cellpadding="1" cellspacing="0" width="100%" class="npadminbody">
    <tr>
        <asp:Panel ID="pnlEnable" runat="server" > 
            <td>
                    <asp:TextBox ID="txtResolution" runat="server" Width="100%" Height="400" TextMode="MultiLine"></asp:TextBox>
            </td>
        </asp:Panel>
    </tr>
</table>
