@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Prata);
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);



h7{
    margin-left: 35%;
    width: 100%;
    text-decoration: underline;
    color:#e24031;


}

.product-detail-wrapper h7 {
    display:block;
    text-decoration: none;
    font-size: 20px;

}





.sales_header {
    margin-top:7%;
}

@media (max-width:1607px) {
    .sales_header {
        margin-top: 8%;

    }
}

@media (max-width:600px) {
    .sales_header {
        margin-top: 11%;

    }
}

@media (max-width:472px) {
    .sales_header {
        margin-top: 16%;

    }
}

.img-responsive_home4 {
    display: block;
    max-width: 100%;
    margin-top: -3%;
    height: auto;
    z-index: 1;
    position: absolute;
}

.email_banner {

    margin-top: 37%;
    margin-left: 20%;
    padding-bottom:30%;

}

@media (max-width:991px) {
    .email_banner {
        margin-top: 37%;
        width: 43%;
        margin-left: 26%;
        padding-bottom: 30%;
    }
}




.email_list {

    margin-top:15%;

}

.sales_container {
    margin-top:7%;
}




#header-wrap {

    margin-left: 25%;



}


h7{
    margin-left: 35%;
    width: 100%;
    text-decoration: underline;


}


@media (max-width:800px) {

    .h1{
        font-size: 30px;
        line-height: 1.333em;
        font-weight: 300;
        margin-top: 7%;
    }
}

.ac-container {
    padding-bottom:5%;
}

@media (max-width:1500px){
    .header_img{
        margin-top:4%;

    }
}


@media (max-width:979px){
    .header_img{
        margin-top:8%;

    }
}

@media (max-width:745px){
    .header_img{
        margin-top:14%;

    }
}



@media (max-width:414px){
    .header_img{
        margin-top:2%;

    }
}
@media (min-width:415px) and (max-width:620px){

    .header_img{
        margin-top:2%;

    }
}

.social-bar{
    display:none;

}

.f_password_container{
    margin:9% 30%;
    padding-top: 65px;
}


td.npbody {


    padding-bottom: 2%;
    padding-top: 2%;


}


td.nplabel {

    padding-bottom: 2%;
    padding-top: 2%;
    padding-right: 2%;

}


th.nplabel {

    padding-bottom: 5%;

    padding-top: 5%;

}

.megacol2{

    margin-top:6%;

}

@media (min-width:1224px) and(max-width:1306px){


    .megacol2{

        margin-top:7%;

    }



}


@media (max-width:1224px){


    .megacol2{

        margin-top:90px;

    }



}





}





/* FAQ ACCORDION  */


.ac-container{

    /*margin: 10px auto 30px auto;*/
    width:73%;
    margin-bottom:6%;
}
.ac-container label{

    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    height: 100%;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 33px;
    font-size: 15px;
    background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
    box-shadow: 
    0px 0px 0px 1px rgba(155,155,155,0.3), 
    1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
    0px 2px 2px rgba(0,0,0,0.1);
}



.ac-container label:hover{
    font-weight:bold;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
    color: #3d5f8e;
    text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
    box-shadow: 
    0px 0px 0px 1px rgba(155,155,155,0.3), 
    0px 2px 2px rgba(0,0,0,0.1);
}

.ac-container input:checked + label:hover:after{
    background-image: url(../images/arrow_up.png);
}

.ac-container input{
    display: none;
}

.ac-container article{
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    transition: 
    height 0.3s ease-in-out, 
    box-shadow 0.6s linear;
}
.ac-container input:checked ~ article{
    transition: 
    height 0.5s ease-in-out, 
    box-shadow 0.1s linear;
    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}






.ac-container article p{
    font-style: italic;
    color: #777;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}


.ac-container input:checked ~ article.ac-small{
    height: 100%;
}
.ac-container input:checked ~ article.ac-medium{
    height:100%;
}
.ac-container input:checked ~ article.ac-large{
    height: 100%;

}





/* FAQ ACCORDION  */



/* FULL WIDTH DROPDOWN */

.mega_menu_link  a{
    font-weight: 700;
    font-size: 12px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    color: #999;
    display: inline-block;
}
.mega_menu_link  a:hover {
    color:F65;
}
@media (max-width:1200px){
    .cbp-hrmenu > ul > li > a {
        font-weight: 700;
        padding: 1em 1em;
        margin-right:-16px;
        color: #999;
        display: inline-block;
    }
}



#ctl00_ctl00_mainslot_mainslot_npplblock_PartDetailListRepeater_pnlNotOnSale {

    display:none;

}






#ctl00_ctl00_mainslot_mainslot_tblErrs {

    margin-top:15%;


}
/* FULL WIDTH DROPDOWN */




@media (min-width:1200px){

    #searchbox,
    #mobileSearchBox{
        width:98%;
        padding-left:10px;
        border-top-left-radius:5px;
        border-bottom-left-radius:5px;
        outline:none;
        float:right;
    }

    .input-group{
        margin-top:-38px !important;
        margin-right:19px;
        width: 17%;
        float:right;

    }
}


@media (max-width: 680px) and (min-width: 430px){
    #MainNav {
        margin-top:-21px;


    }
}
@media (min-width:681px) and (max-width:990px){

    #mainMenu{

        display:none;
    }
    #searchbox, #mobileSearchBox {
        width: 100%;
    }
    #MainNav {
        margin-top:-10px;

    }

}
/* Search Icon Fix  */

/* FS CAROUSEL */
#allPartImages {
    padding-top: 122px;
}

/* HOMEPAGE */
.zeroPadding{
    padding:0 !important;
    margin-bottom:10px;

}


.darrow {
    font-size: 23px;
    position: absolute;
    top: -8px;
    margin-left: 581px;
    color: #FFF;

    float: left;

}

.home_container_2 {
    margin-top: -3%;
}



#static_page_accordion section p{
    display:none;


}
#static_page_accordion section a {

    color:#000;
    text-decoration:none;
}
#static_page_accordion section a:hover{
    text-decoration:underline;


}
#static_page_accordion section:target p{
    display:block;

}





.zeroPadding_2{
    padding:0 !important;


}
.zeroPadding img{
    width:100%;
}
#imgSales{
    list-style-type:none;
}
#imgSales li{
    display:inline;
    margin-right:-5px;
    padding:0;
}
.home-hero-image {
    display: block;
    margin: 0 auto -11px auto;
    width: 100%;
    max-width: 100%;
}

@media (min-width: 1940px){
    .featured_home_slot {
        margin-top: 0.6%;

    }
}

@media (min-width:1200px){
    .homeImg{
        margin-left: -15px;
    }
}

.featured_home_slot {
    margin-top:0.6%;

}

@media (min-width:780px) and (max-width:1347px){
    .featured_home_slot {
        margin-top:0.6%;
    }
}

@media (max-width:779px){

    .featured_home_slot {
        margin-top:0.6%;

    }

}

@media (min-width:200px) and (max-width:423px){
    .featured_home_slot {
        margin-top:0.6%;
    }
}
.sale-hero-banner{

    display: block;
    margin: 0 auto -4px auto;
    width: 100%;
    max-width: 100%;

    .row3{
        border:2px #F65 dashed;

    }

    #mainMenu{

        display:none;
    }



}
.saleImg{
    padding-bottom:0px;

}
.saleImg img {
    width: 100%;
    margin-bottom: 10px;
}


.iship {

    float:right;
    padding-right: 175px;
    margin-top:-33px;


}

.carousel-inner img {
    height: 100%;
    /* max-height: 100%; */
    padding-bottom:20px;
}

#hero-carousel .carousel-indicators li {
    border-color: #3A62A0;
}

#hero-carousel .carousel-indicators .active {
    background-color: #3A62A0;
} 

#hero-carousel .carousel-control {
    color: #3A62A0
}

.carousel-control.left, .carousel-control.right {
    background: none;
}

.hero-carousel {

    padding-right: 0px;
    padding-left: 0px;

}

.homepage .home-hero-image {
    display: block;
}

.home-hero-image {
    display: block;
}

.featured-home {
    padding-top: -17px;
}

.featured-home img {
    display: inline-block;
    width: 100%;
}

.featured-home h1 {
    padding: 10px 0 10px 0;
    font-size: 1.9em;
    font-weight: 400;
    font-family: 'Prata', 'Playfair Display', serif;
    color: #000;
    text-transform: uppercase;
}

.featured-home h2 {
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    color: #8A8A8A;
}

.featured-home a.shop-now {
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}

.mcklein-product aside {
    display: none;
}

/* FOOTER SOCIAL */
.footer-social {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align:center;
    padding-top:-15px;
    padding-bottom:30px !important;
}

.footer-social a{
    display:block;
    height:30px;
    border-radius:15px;
    color:white !important;
    padding:10px;
    font-size:30px !important;

}
.footer-social a span{
    display:block;
    margin:-2px;
}
.footer-social a:hover{
    text-decoration:none;
}
.footer-social li {
    display: inline-block;
    margin:5px;

    text-align:center;
}

.email-contact-social div {
    padding-bottom: 25px;
}

#remember h1{
    font-size:30px;
    font-weight:bolder;
}
#remember h1 span{
    font-size:40px;
    font-style:italic;
    color:white;
    line-height:35px;
}

#mfooter h3 {
    padding-bottom: 25px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}
#mfooter a {
    color: white;
    font-size: 12px;
}
#mfooter ul {
    padding-bottom: 25px;
}
#arrowUp{
    position:fixed;
    width:50px;
    height:50px;
    bottom:50px;
    right:30px;
    background-color: rgba(59, 98, 161, 0.88);
    text-align:center;
    border-radius:25px;
    cursor:pointer;
}
#arrowUp:hover{
    background-color:rgba(50, 162, 230, 0.85);;
}
#arrowUp a{
    background-color:transparent;
    font-size:30px;
    color:white;
}
#arrowUp h5{
    color:white;
    margin-top:-10px;
}
.hiddenRight{
    transform:translateX(300px);
    transition:all, 2s;

}
.slideFromRight{
    transform:translateX(0px);
    transition:all, 2s;

}
/* FOOTER SOCIAL END */

#sliderthumbs a {
    display: inline-block;
    margin: 0 6px 0 0;
    width: 70px;
    float: left;
}

#sliderthumbs a:hover {
    cursor: pointer;
} 

#sliderthumbs img {
    padding-top: 20px;
    width: 100%;
}


.item-FS {
    display: none;
}

#myFullCarousel {
    padding-top: 120px;
}

.full-screen-product {
    display: block !important;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100% !important;
    height: 100%;
    background-color: #FFF;
}

.fullscreen-product-banner {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100% !important;
    height: 118px;
    background-color: #FFF;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.28);
    display: none;
}

.full-screen-product #partImages {
    position: fixed !important;
    top: 10px;
    left: 20px;
    z-index: 1001;
    width: 300px;
}

.full-screen-product .carousel-inner > .item > img {
    margin: 0 auto 0 auto;
    max-width: 40%;
}

.close-product-fullscreen:hover {
    cursor: pointer;
}

.full-screen-product .mc-thumbs-left img {
    margin: 0 15px;
    width: 60px !important;
}

.full-screen-product .mc-thumbs-right img {
    margin-top: 10px;
    width: 40px !important;
}

.full-screen-product .mc-thumbs-left {
    width: 200px;
}

.full-screen-product .mc-thumbs-right {
    width: 100px;
}

.full-screen-product .carousel .item {
    height: 1000px !important;
}

.full-screen-product .partDetailImageContainers {
    padding-top: 118px;
}



.full-screen-product #name {
    position: fixed;
    top: 12px;
    left: 20px;
    z-index: 1001;
}

.close-product-fullscreen {
    position: relative;
    top: 40%;
    padding-right: 40px;
    color: #A2A2A2;
}

/* Static Pages */
.static-page {
    padding: 40px 20px;
    background-color: #FFF;
}

#page-wrap{
    margin-top: 10%;
    padding-bottom:25px;
    margin-left:55px;
    margin-right:38px:


}

#page-wrap2{
    margin-top: 6%;
    padding-bottom:25px;
    margin-left:55px;
    margin-right:38px:


}



@media (max-width:992px){

    #page-wrap2{
        margin-top: 6%;
        padding-bottom:25px;
        margin-left:0%;
    }
}


.static-page td {

}
.staticsale{
    margin-top:-20px;
}

/* LAYOUT FIX */
#ctl00_ctl00_mainslot_partattributes_nppablock_MainPanel {
    display: none;
}

.child_parts_ddl{
    font-size:11px;
}
.mc-item-sprice {
    padding-top: 1%;
    display: inline-block;
    color: #FF0000;
    font-family: 'Prata', serif;
    font-size: 16px;
    position: absolute;
    margin-top: 2%; 
    clear: both;
    /* Begin Hamaad edit (remove/change if needed) */
    /* bottom padding by 9 percent */
    /* End Hamaad edit */
}
.mc-part-origprice {

    display: inline-block;
    color: #000;
    font-family: 'Prata', serif;
    text-decoration: line-through;
    font-size: 16px;
    font-weight: bold;
    clear: both;

}




.pdl-item-sprice {
    color: #FF0000;
    margin-bottom:12%;

}


/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,h7,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:'';
    content:none;
}
/* remember to define visible focus styles! 
:focus{
outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}


/* Static Pages */
.static-page h1 {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 1.8em;
}

.static-page p {
    padding-bottom: 18px;
}

.static-page h3 {
    margin-bottom: 6px;
    font-weight: bold;
}

#MainNav{
    position:fixed;
    top:72px;
    width:100%;
    height:60px;
    background-color:white;
    box-shadow:0px 2px 5px #7a7777;
    padding-top:5px;
    z-index: 998;
}


/*------------------------------------*\
$DropDownstart
\*------------------------------------*/

#mmenu {
    list-style:none;
    width:auto;
    margin:0 ;
    padding:0;


}
#mmenu li {
    float:right;
    display:inline;
    text-align:center;
    position:relative;
    padding: 0px 10px 0px 10px;
    margin-right:30px;
    margin-top:-10px;
    padding: 4px 9px 4px 9px;
}

#mmenu .mmenu_rightmost {
    margin-right:-30px;
}

#mmenu li:hover {

    padding: 4px 9px 4px 9px;
    /* Background color and gradients */

    text-align: left;

    /* Rounded corners */

    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;

    /*Transistion*/

    webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;


}
#mmenu li a:hover  {
    color:#000;
}



#mmenu li a {
    display:inline-block;
    padding:10px;
    font-family: 'Sanchez', serif;
    font-size:12px; 
    color: #3d5f8e;
    font-weight:normal;
    text-transform: uppercase;
    outline:0;
    letter-spacing:2px;
    text-decoration:none;

}
/*Drop Downs*/

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {



    /* Rounded Corners */
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
}

@media (min-width: 992px) {

    .dropdown_1column  {width: 140px; margin-right:0px; margin-left:0px;}
    .dropdown_2columns {width: 280px; margin-right:0px; margin-left:0px;}
    .dropdown_3columns {width: 1040px; margin-right:0px; margin-left:0px;}
    .dropdown_4columns {width: 560px; margin-right:0px; margin-left:0px;}
    .dropdown_5columns {width: 700px; margin-right:0px; margin-left:0px;}

    #menu li:hover .dropdown_1column, 
    #menu li:hover .dropdown_2columns, 
    #menu li:hover .dropdown_3columns,
    #menu li:hover .dropdown_4columns,
    #menu li:hover .dropdown_5columns {
        left:-1px;top:auto;
    }
    .col_1,
    .col_2,
    .col_3,
    .col_4,
    .col_5 {
        display:inline;
        float: left;
        position: relative;
        margin-left: 5px;
        margin-right: 5px;
    }
    .col_1 {width:245px;}
    .col_2 {width:270px;}
    .col_3 {width:500px;}
    .col_4 {width:550px;}
    .col_5 {width:690px;}

    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
    #mmenu li:hover .align_right {
        box-shadow: 0px 2px 2px #888888;
    }
}

@media (max-width: 992px) {
    .row {
        margin: 0px;
    }
}

.dropdown-menu .mmenu-subcol {
    padding-right:5px;
    padding-left:5px;
}

#mmenu .menu_right {
    float:right;
    margin-right:0px;
}
#mmenu li .align_right {

    /* Rounded Corners */
    -moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
    background:#FFF; 
}

/* Drop Down Content Stylings */
.dropdown-menu{
    font-family:'Roboto Condensed', sans-serif;
    padding: 5px 10px;
    top:50px !important;
    left:-821px !important;
}
.dropdown-menu h3 {

    margin: 7px 0 14px 0;
    letter-spacing:1px;
    line-height: 18px;
    font-family: 'Sanchez', serif;
    font-weight: bold;
    font-size: 12px;
    color: #263750;
    padding:3px;
    text-transform: uppercase;
    border-bottom:1px solid #698fc3;
    width:250px;

}

.dropdown-menu li div a {

    font-family: 'Sanchez', serif;
    font-size: 12px;
    color: #3d5f8e;
    position:relative;
    line-height:24px;
    padding:3px;
    margin:0;
    text-align:left;
    width:253px;
    float:none;



}

.dropdown-menu .col_1 li a:hover {
    background:#98b1d3;
    opacity:0.8;
    color:#000;
    width: 253px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;



}
.dropdown-menu li ul {
    list-style:none;
    padding:0;
    margin:0 0 12px 0;


}

.dropdown-menu li ul li {

    font-size:12px;
    line-height:30px;
    position:relative;
    padding:0;
    margin:0;
    float:none;
    text-align:left;
    width:265px;




}
.dropdown-menu li ul li:hover {
    background:none;
    border:none;
    padding:0;
    margin:0;

}
.mmenu-subcol li a{
    text-transform: uppercase;
    color:#619cc9 !important;
    margin-bottom:10px !important;
}
.mmenu-subcol li a:hover{
    border:none !important;
    color:black !important;
}
.dropdown_3columns{
    position:relative !important;
}
.dropdown_3columns ul.last{
    left:auto !important;
    right:4px !important;
}

/*------------------------------------*\
$DropDownEnd
\*------------------------------------*/

/*------------------------------------*\
Footer
\*------------------------------------*/
footer{
    background-color: #141414;
}
.FooterRow1 {
    margin-left: 150px;
}

#mfooter {clear:both;margin:0;padding-top:20px; padding-bottom:40px;}
#mnavSuppWrapper {margin: 10px 5px 0;padding: 0;background:none;font-weight: bold;} 
#mnavSuppWrapper a{color:#727272;font-weight:normal;}
dl {margin: 0 0 3px 0;padding:0;clear:both;height:110px;width:100%;}/*Adjust the height and width of the menu*/
dt {margin-bottom:.3em;font-weight:bold;}
dd {margin:1px;padding:0;float:left;width:19.6%;}/*Column width of the menu - currently set for 5 columns*/
dd ul {margin:0;padding:0;list-style: none;}
dd li {margin:0;padding:0;}
dd li a {margin-left:5em;text-align: justify;display:block;/*border:1px solid #f65;*/}
/*dd li a:hover {background:#5dc9e1;color:#fff;}*/
dd li a:hover {text-decoration: underline;color:#000000;}
.mmenuTitle {margin-left:3.5em;padding-bottom:20px;text-align:justify;display:block;font-weight:bold;font-size:20px;/*border:1px solid #f65;*/}
.mfirst, .msecond, .mthird, .mfourth {border-right:1px dashed #888787;}
#msiteinfoLegal {padding: .5em 0 0;font-size: 0.9em;/*text-align:right;*/width:80%;line-height:normal;clear:both;color:#000000;margin-left:20px;float:left;margin-top:-40px;}
#msiteinfoLegal a {padding: 0 0.5em 0 0.5em;color: #000000;font-weight:bold;white-space: nowrap;}
#msiteinfoLegal a:hover {color: #727272;}
#mbannerSix {margin-top:0px;margin-bottom:30px;}
#msiteinfoIP{background-color:#edf9fb;padding-top:20px;}
.mfooter-container{padding-bottom:50px;}
.footer a {color: #333333; text-decoration:none;}



.copyright {
    display:inline-block;
    text-align: center;
    margin: 20px auto;
    padding: 30px 150px 10% 0;
    width: 100%;
    height: 40px;
    font-size: 11px;
    clear: both;
    color:white;
}

FOOTER .col-md-12 {
    padding: 0;
}



/*------------------------------------*\
end footer
\*------------------------------------*/
/*------------------------------------*\
$MAIN
\*------------------------------------*/



body {
    margin: 0;
    padding: 110px 0 0 0;
    background-color: #fff;
    font-size: 14px;
    font-family: "Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    font-weight: 400;
    line-height: 1.4em;
    -webkit-font-smoothing: antialiased;
}

a, a:active {
    color: #3698d9;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

#container {
    display: block;
    margin: 0px auto;
    max-width: 1024px;
    width: 100%;
    clear: both;
}

.npbannerslot {
    margin: 0 auto;
    width: 100%;
}

h1 {
    font-size: 50px;
    line-height: 1.333em;
    font-weight: 300;
    margin-top:4%;
}

h2 {
    font-size: 0.9em;
    font-weight: 300;
}

.npmainslot {
    display: block;
    width: auto !important;
}

/* Edit */

#ctl00_ctl00_menuslot_menuslot_lnkEdit {
    position: fixed;
    display: none;
    z-index: 1031;
    top: 2px;
    left: 50%;
    margin-left: 10px;
}

/* Search */

#ctl00_ctl00_mainslot_mainslot_PartsListGrid img {
    width: 100%;
}

/* Header */

#header {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 34px;
    width: 100%;
    height: 66px;
}

#header .npbannerslot {
    margin: 0 auto;
    width: 1024px;
}

div[id*='loginMain'],
div[id*='MyAccountPanel'] {
    margin-left: 10px;
    float:right;
}

.logo {
    padding: 8px 16px 5px 16px;
    float: left;
}

.menu {
    display: block;
    margin: 5px auto 0px auto;
    padding: 20px 20px 0px 20px;
    width: 100%;
    border: none;
    background-color: #FFF;
}

.menu a {
    color: #fff;
}

.global-brand {
    margin: -8px 10px 0 20px;
    width: 239px;
    background: transparent url('assets/img/McKleinUSA_Logo_no-tag.png') center center no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.navbar {
    border-bottom: 1px solid #DADCE1;
    border-radius: 0;
}

.navbar-nav {
    float: right;
}
.navbar-nav a:hover{
    background-color:transparent !important;
    border-bottom:none !important;
    color:#3D5F8E !important;
}
.navbar-collapse {
    display: right;
}

.navbar-default .navbar-nav > li > a {
    padding-top: 5px;
    color: #545454;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > li:last-child > a {
    color: #FF284E;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #000;
    text-decoration: underline;
} 

.header-search-wrapper {
    margin: 14px 0 0 0;
    float: right;
    display:none;
}

.header-search-wrapper a {
    margin:  1px 0 0 -26px;
    padding: 2px 0 0 5px;
}

#search {
    margin: -2px 0 0 10px;
    padding: 3px 8px;
    height: 25px;
    width: 140px;
    color: #cde6ff;
    background-color: #FFF;
    border: 1px solid #eee;
    border-radius: 25em;
    float: left;
    text-indent: 4px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#search:focus {
    color: #111;
    width: 180px;
    background-color: #fff;
    background-position-x: 5px;
    outline: none;
}

.header-search-wrapper a {
    float: left;
}

.menuwrapper {
    position: fixed;
    width: 100%;
    z-index: 997;
    top: 50px;
}

.login-cart-wrapper {
    position: fixed;
    padding:0;
    z-index: 998;
    left: 0px;
    top: 0;
    color: #8b929a;
    font-size: 11px;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;

}

.login-cart-container {
    display: block;
    margin: 0 auto 0 auto;

    width: 100%;
}

.loginblock a {
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
}

.loginblock a:hover {
    text-decoration: underline;
}

.global-menu {
    padding: 14px 0 0 0;
    float: right;
}

.global-menu li {
    display: inline;
    float: left;
}

.global-menu li a {
    padding: 0 10px;
    color: #fff;
    font-size: 14px;
}

.global-login-account {
    display: inline-block;
    padding-bottom: 5px;
    width: 80%;
    float: left;
}




.active-brand-bar {
    background-image: linear-gradient(0deg, #FFFFFF 0%, #EEEEF2 100%);
    box-shadow: inset 0px 1px 7px 0px rgba(174,174,174,0.50);
}



.cart {
    display: inline-block;
    padding-left: 10px;
    color: #08c;
    float:right;
    font-size: 11px;
    font-weight: 400;
}

.sessionblock{
    position:absolute;
    z-index:5;
    float:right;
    margin-top:-60px;
    right:100px;
    color:#000000;
}
.sessionblock a{
    color:#000000;
    font-size:15px;
}

.cart {
    display: inline-block;
    padding-left: 10px;
    color: #08c;
    font-size: 11px;
    font-weight: 400;
}

a[id*='ctl03_lnkCheckOut'] {
    display: none;
    padding-right: 7px;
    float: left;
}

a[id*='ctl03_lnkCheckOut'] img {
    display: none;
    margin-top: -3px;
 }

a[id*='lnkCart'] {
    padding-top: 4px;
}

.search-bar-button {
    display: none;
}

.string-editor {
    position: absolute;
    top: 1px;
    right: 160px;
}

/* Menu */

#list li {
    display: inline-block;
    float: left;
}


/* Home Styles */
.home-call-promo-banner {
    width: 100%
    color:#000;
    padding: 15px 0px;
    margin-top: 8px;
    margin-bottom:15px;
}

.home-call-promo-banner strong {
    padding-right: 6px;
    font-weight: bold;
}

.home-call-promo-banner a {
    padding-left: 6px;
    color: #F65;
    font-weight: 600;
}

#myCarousel {
    display:block;
}

#myCarousel {
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1130px;
}

.home-hero #container {
    margin-top: 710px;
}

.home-hero .loginblock {
    padding-top: 12px;
    height: 18px;
}

.home-hero .loginblock a {
    color: #08c;
}

.home-hero .global-menu li a {
    padding: 0 20px;
    color: #fff;
}

.home-hero-slogan {
    margin: 0 0 10px 0;
    padding: 30px 0;
    width: 100%;
    height: 450px;
}

.home-hero-slogan h1 {
    display: block;
    margin: 10px 0 20px 0px;
    width: 391px;
    height: 54px;
    text-indent: -999999px;
    clear: both;
}

.home-hero-slogan h5 {
    margin: 60px 0 14px 50px;
    width: 70px;
    color: #fff;
    text-align: center;
    background-color: #0fbbf0;
    border-radius: 3px;
    float: left;
}

.home-hero-slogan p {
    padding-bottom: 20px;
    max-width: 400px;
    color: #fefefe;
}

.home-billboard-button {
    display: block;
    margin: 0 0 0 50px;
    padding: 5px 20px;
    width: 120px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    -moz-border-radius: 33px;
    -webkit-border-radius: 33px;
    border-radius: 33px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #2d85eb;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFhNjJkYiIgc3RvcC1vcGFjaXR5PSIwLjQzIi8+CjxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjMzY4ZmVmIiBzdG9wLW9wYWNpdHk9IjAuNDMiLz4KPHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiM1NGEzZWQiIHN0b3Atb3BhY2l0eT0iMC40MyIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MGI1ZjEiIHN0b3Atb3BhY2l0eT0iMC40MyIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
    background-image: -moz-linear-gradient(bottom, rgba(26,98,219,.43) 0%, rgba(54,144,240,.43) 50.83%, rgba(84,163,238,.43) 51.39%, rgba(112,182,242,.43) 100%);
    background-image: -o-linear-gradient(bottom, rgba(26,98,219,.43) 0%, rgba(54,144,240,.43) 50.83%, rgba(84,163,238,.43) 51.39%, rgba(112,182,242,.43) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(26,98,219,.43) 0%, rgba(54,144,240,.43) 50.83%, rgba(84,163,238,.43) 51.39%, rgba(112,182,242,.43) 100%);
    background-image: linear-gradient(bottom, rgba(26,98,219,.43) 0%, rgba(54,144,240,.43) 50.83%, rgba(84,163,238,.43) 51.39%, rgba(112,182,242,.43) 100%);

}

.home-featured-products {
    padding: 10px 0;
    border-bottom: 1px solid #f5f5f5;
}

.item-image {
    width: 60px;
}

.item-image img{
    // margin: 0 auto;
    width: 60px;
}

.item-amount {
    margin: 4px 0;
    padding: 0;
    font-weight: 600;
    clear: both;
    float: left;
}

.item-amount span {
    color: #8dc560;
}

.featured-name {
    padding: 0;
    text-align: center;
    float: left;
}

.item-action-button {
    margin: 0 auto;
    padding: 0;
    width: 190px;
    clear: both;
}

.home-hero #desc {
    display: none;
}

/* Featured */

.featured {
    width: 100%;
    float: right;
}

.featured h1 {
    margin: 0;
    padding: 10px 0 20px 10px;
    font-size: 14px;
    font-weight: 600;
}

.featured-name {
    display: block;
    left: left;
}

.featured-desc {
    display: none;
}

.featured .item-amount {
    display: block;
    float: left;
}

.featured .col-md-2 img {
    padding-left: 20px;
}


/* Main Content */

#top {
    padding: 15px 0 10px 30px;
    color: #4e5356;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

.global-sidebar {
    padding: 0 0 130px 30px;
    border-right: 1px solid #DADCE1;
}

.global-sidebar h1 {
    margin: 0;
    padding: 10px 0 0 0px;
    font-size: 12px;
    font-weight: 600;
}

#catlist {
    padding: 10px 0 20px 10px;
}

#catlist li {
    font-size: 12px;
}

#catlist li a {
    color: #000;
}

#maincontent {
    position: relative;
    margin-bottom: 30px;
    width: 750px;
    background-color: #fff;
    border: 1px solid #e8e8ea;
    border-radius: 3px;
    float: right;
}

#maincontent #top {
    padding: 15px 0 10px 30px;
    color: #4e5356;
    font-size: 14px;
    font-weight: 400;
}

#name h1{
    padding: 10px 0 10px 0;
    font-size: 1.9em;
    font-weight: 400;
    font-family: 'Prata', 'Playfair Display', serif;
    color: #000;
    text-transform: uppercase;
}

.qty-input {
    margin-bottom: 30px;
    width: 120px;
    text-align: center;
}

#quick-order-block {
    min-width: 410px;
    text-align: center;
}

#quick-order-block table {
    text-align: left;
}

/* Product List View */

.qty-pl-btn {
    float:right;
    height:24px;
    padding:0px;
    margin:2px 8px 2px 2px;
}

#ctl00_ctl00_mainslot_mainslot_npplblock_PartsListGrid {
    margin-top: 0;
}

#ctl00_ctl00_mainslot_mainslot_npplblock_PartsListGrid {
    border: none !important;
}

tr.npsubheader {
    display: auto;
    width: 100%;
    border-bottom: 1px solid #eee;
}

tr.npbody td, tr.npbodyalt td {
    display: auto;
    border-bottom: 1px solid #eee;
    vertical-align: middle;
}

.ecommerce-paging {
    height: 30px;
    position: relative;
    top: 0;
    right: 20px;
}

.ecommerce-paging table tr td {
    margin: 3px 4px;
    display: inline-block;
}

.ecommerce-paging table tr td span {
    padding: 2px 6px;
    display: inline-block;
    margin: 3px 6px;
    color: #fff;
    background-color: #2a7ee9;
    border-radius: 3px;
}

.ecommerce-paging table tr td a:hover {
    text-decoration: underline;
}

/* Item Detail List */

#ctl00_ctl00_mainslot_mainslot_npplblock_PartDetailListRepeater {
    border-width: 0 !important;
}

#ctl00_ctl00_mainslot_mainslot_npplblock_PartDetailListRepeater td {
    padding-bottom: 60px;
    vertical-align: top;
    text-align: center;
}

#ctl00_ctl00_mainslot_mainslot_npplblock_PartDetailListRepeater td a {
    display:block;
    text-align:center;
}

#ctl00_ctl00_mainslot_mainslot_npplblock_PartDetailListRepeater td a img {
    max-width: 250px;
    max-height: 250px;
}

#ctl00_ctl00_mainslot_mainslot_npplblock_PartDetailListRepeater_ctl00_PartImageLink {
    display: block;
    margin: 0 auto;
    width: 80%;
}

#ctl00_ctl00_mainslot_partmanufacturer_npmanfblock_sysMNFName {
    display:none;


}

.item-detail-list td {
    display: inline-block;
    margin: 1.5%;
    width: 30%;
}

.partlist-product-image img {
    display: block;
    margin: 0 auto;
}

.item-list-buy {
    display: block;
    margin: 10px auto;
    width: 80px;
}

.item-detail-list p, .item-detail-list a {
    text-align: center;
}

.item-detail-list select {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 2%;
    font-size:13px;
}

.button-action-wrapper {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.item-purchase-buttons {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
}

.item-purchase-buttons input {
    float: left;
}

.item-part-details {
    font-size: 11px;
    font-weight: 400;
    color: #aaa;
}

#desc {
    padding-top: 10px;
    color: #899299;
}

.item-tab-wrapper {
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 3px;
    float: right;
}

.mcklein-product .global-sidebar {
    display: none
}


/* Part List */

.item-listing-wrapper {
    margin-top: 10px;
    padding: 20px 10px;
    width: 100%;
    background-color: #FFF;
    float: right;
}

.item-listing-wrapper h1 {
    padding: 0px 0 10px 16px;
    color: #4e5356;
    font-size: 11px;
}

.container aside.pull-left {
    padding: 20px 10px;
    background-color: #fff;
}

[id*='pnlNotOnSale'] {
    margin: 43px auto;
}

#ctl00_ctl00_mainslot_mainslot_npplblock_PartsListRepeater {
    border: 0 !important;
    margin-top: 40px;
}

#ctl00_ctl00_mainslot_mainslot_npplblock_PartsListRepeater td {
    padding-bottom: 30px;
}

#ctl00_ctl00_mainslot_mainslot_npplblock_PartsListRepeater td a {
    display: block;
    text-align: center;
}

#ctl00_ctl00_mainslot_mainslot_npplblock_PartsListRepeater td a img {
    max-width: 250px;
    max-height: 250px;
}

.item-listing-wrapper table, .item-listing-wrapper th, .item-listing-wrapper td {
    border: none !important;
}

.product-table-list-view td {
    padding: 10px 0;
    height: 20px;
    border-bottom: 1px solid #eee;
    vertical-align: middle;
}

.part-list-repeater-wrapper tr td {
    width: 33%;
    float: left;
}

.part-list-repeater-item-wrapper .item-price, .part-list-repeater-item-wrapper .item-name {
    display: block;
    width: 100%;
    text-align: center;
}

.category-link-block td {
    padding: 8px;
}
#ctl00_ctl00_mainslot_mainslot_npcblock_categoryrepeater {
    border-bottom: 1px solid #e5e9ec !important;
}
.category-link-block {
    width: 95%;
    margin: 0px 2.5%;
}

#ctl00_ctl00_mainslot_mainslot_npcblock_categoryrepeater {
    border-bottom: 1px solid #e5e9ec !important;
    width: 95%;
    margin: 0px 2.5%;
}

#ctl00_ctl00_mainslot_mainslot_npplblock_PartsListGrid th {
    font-size: 12px;
    font-weight: normal;
}

.product-table-list-view {
    border-bottom: 1px solid #eee;
}

.product-table-list-view td {
    padding: 5px 0;
}

.categories-table-wrapper {
    margin: 0 0 30px 0;
    padding: 4%;
    width: 92%;
}

/* Product Detail View */

.ColorSwatchs:hover {
    cursor: pointer;
}

.itemcontainer {
    display: inline-block;
    margin-top:14%;
    margin-bottom: 10px;
    padding-bottom: 40px;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 3px;
}

.itemheader {
    margin-bottom: 14px;
    height: 38px;
}

.product-detail-wrapper {
    padding: 3% 0 0 0;
    width: 40%;
    float: right;
    text-align: left;
}

.mc-item-price .mc-model-num {
    display: block;
    width: 100%;
    color: #A2A2A2;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    clear: both;
}

.mc-model-num {
    padding-bottom: 23px !important;
}

.mc-item-price {
    display: inline-block;
    color: #000;
    font-family: 'Prata', serif;
    font-size: 24px;
    clear: both;

    /* begin Hamaad edit */
    /* margin-left: 2%;*/
    margin-left: 20px;
    margin-top: -1%;
    position: absolute;
}

.mc-item-msrp {
    display: block;
    color: #404040;
    font-family: 'Prata', serif;
    font-size: 16px;
    clear: both;
    margin-left: 20px;
    margin-bottom: 2%;

}

#ctl00_ctl00_mainslot_partdescription_sysMSRP {
    margin-left:-3px;
    color:#000;
}

.double-lines {
    display: inline-block;
    width: 100%;
    height: 3px;
    border-top: 1px solid #A2A2A2;
    border-bottom: 1px solid #A2A2A2;
}

.product-detail-wrapper h2 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    color: #8A8A8A;
}

.product-detail-wrapper h3, #partImages h3 {

    color: #000;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.product-detail-wrapper h4 {
    padding: 20px 0 10px 0;
    color: #000;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-top: 6%;
    margin-bottom: -9%;
}

.mc-add-to-cart {
    display: inline-block;
    padding: 20px 0;
    width: 100%;
    color: #FFF;
    font-size: 18px;
    font-family: "Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    text-align: center;
    text-transform: uppercase;
    background-color:#3B62A1;
}

.mc-add-to-cart:hover {
    color: #FFF;
}

#price input {
    margin: 0 5px;
}

#partImages img {
    display: inline-block;
    float: left;
}

#partImages img {
    width: 100%;
    border: 1px solid #eee
}

#ctl00_ctl00_mainslot_partdescription_sysPartDescription, .description-body {
    color: #434343;
    font-size:14px;
}


.mc-thumbs-left img {
    padding: 20px 0;
    margin-bottom: 0px;
}

.mc-thumbs-left img:first-child {
    border-bottom: none !important;
} 

#prodline {
    display: none;
}

.manufacturer-name {
    color: #8a9199;
}

#ctl00_ctl00_mainslot_partmanufacturer_npmanfblock_MNFPanel{
    border: 0 !important;
    text-align: left !important;
}

.item-price-stock-wrapper {
    display: inline-block;
    padding-bottom: 10px;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #e6e9f0;
}

.item-base-price {
    padding: 8px 0;
    color: #000;
    font-size: 27px;
    font-weight: 400;
    font-style: italic;
    font-family: "Playfair Display", serif;
    text-align: left !important;
    border: 0 !important;
    float: left;
}

#ctl00_ctl00_mainslot_partprice_npppblock_sysUnits {
    font-size: 11px !important;
    font-style: italic !important;
    font-weight: 300 !important;
    color: #899096 !important;
}

.item-quantity-stock {
    padding-top: 16px;
    float: right;
    font-size: 11px !important;
    font-style: italic !important;
    color: #899096 !important;
}

#ctl00_ctl00_mainslot_partname_sysPartNo {
    display: none;
}

/* FULL SCREEN VIEW 
#ctl00_ctl00_mainslot_partmedia_nppmblock_Repeater_Content_ctl00_allPartImages {
position: fixed;
top: 0;
left: 0;
z-index: 1100;
display: block !important;
width: 100%;
}

#ctl00_ctl00_mainslot_partmedia_nppmblock_Repeater_Content_ctl00_allPartImages img {
width: 100%;
}
*/


.css-tabs {
    width: 100%;
    height: auto;
    clear: both;
}

.css-tabs li {
    display: inline-block;
    // margin: 0 20px;
    padding: 20px 0;
    width: 49%;
    float: left;
}

.css-tabs li:last-child {
    margin-left: -1px;
}

.css-tabs li a {
    padding: 0;
    color: #666;
    font-size: 22px;
    font-weight: 300;
}

.css-panes-admin {
    padding-left: 40px;
}

.css-panes-admin #AcctInfo, .css-panes-admin #OrderInfo  {
    width: 33%;
    float: left;
}

.css-panes-admin #userUDF {
    padding-left: 10px;
}

.css-tabs-admin {
    margin-top: 50px;
    width: 100%;
    height: auto;
    clear: both;
}

.css-tabs-admin li {
    display: inline-block;
    padding: 20px 0;
    width: 33%;
    float: left;
}

.css-tabs-admin li:last-child {
    margin-left: -1px;
}

.css-tabs-admin li a {
    padding: 0 30px;
    color: #666;
    font-size: 22px;
    font-weight: 300;
}

#remarks, #b1udf, #cross, #AcctInfo, #OrderInfo, #userUDF {
    display: inline-block;
    width: 218px;
    min-height: 200px;
    float: left;
}

#remarks {
    display: none;
    padding: 10px 3% 30px 3%;
    width: 43%;
}

#remarks table th {
    padding-right: 20px;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
}

#remarks table th:first-child {
    font-weight: 600;
}

#cross {
    padding-top: 10px;
    width: 100%
}

#cross h2 {
    display: none;
}

#ctl00_ctl00_mainslot_partsimilarsellers_nppss_lblPeopleWhoBought {
    display: none;
}

.variant-category
{
    padding: 0px 0px 14px 0px;
}
.variant-category p, .variant-category div
{
    padding: 0px 14px;
}

#b1udf {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

#maincontent h1 {
    padding: 8px 0 8px 10px;
    margin-bottom: 8px;
    color: #61688c;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px solid #fff;
    line-height: 1.33333em;
}

#remarks h2, #cross h2 {
    margin: 10px 0 20px 0;
    color: #777;
    font-size: 24px;
    font-weight: 300;
}

#ctl00_ctl00_mainslot_mainslot_npcblock_categoryrepeater .tableContent {
    margin-top: 20px;
}

#desc {

}

/* #desc:before {
content: "Description";
display: block;
padding-top: 20px;
height: 36px;
color: #777;
font-size: 24px;
font-weight: 300;
text-align: center;
clear: both;
} */


/* Suggested Items  */


#cross img {

    width:100%;
}

#ctl00_ctl00_mainslot_partcrosssell_nppcblock_dlCrossRepeater_ctl00_lnkName{

    margin-left:14%;
    font-size: 12px;
    color: #000;


}
#ctl00_ctl00_mainslot_partcrosssell_nppcblock_dlCrossRepeater_ctl01_lnkName{

    margin-left:22%;
    font-size: 12px;
    color: #000;

}

#ctl00_ctl00_mainslot_partcrosssell_nppcblock_dlCrossRepeater_ctl02_lnkName{

    margin-left:22%;
    font-size: 12px;
    color: #000;

}


#ctl00_ctl00_mainslot_partcrosssell_nppcblock_dlCrossRepeater {
    border-width: 0 !important;
}

#ctl00_ctl00_mainslot_partcrosssell_nppcblock_dlCrossRepeater table tr {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    float: right;
}

.suggested-items-product-page-wrapper td {
    display: inline-block;
    width: 150px;
    float: right;

}

.suggested-items-product {
    display: inline-block;
    padding: 10px 0;
    width: 83%;
}

.suggested-pic-price {

}

.suggested-pic-price img {

}

.suggested-pic-price li {
    margin: 5px 0;
}


/* Suggested Items END   */

/* Checkout */

.cart-global-wrapper {
    margin-top: 11%;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e8e8ea;
    border-bottom: 2px solid #e8e8ea;
    border-radius: 3px;
    float: right;

}

.cart-options {
    margin-top: 38px;
    padding-left: 180px;
    display: block;
    border-bottom: 1px solid #eee;
}
tr.npbody > td > a > img,
tr.npbodyalt > td > a >img {
    display: block;
    max-width: 100%;
    height: auto;
}
#ctl00_ctl00_mainslot_mainslot_CartList_gridOrderDetail {
    margin: 0 !important;
    width: 100% !important;
}

#ctl00_ctl00_mainslot_cartslot_npcdlblock_gridOrderDetail {
    margin: 10px 0 0 0;
    padding: 0;
}

#ctl00_ctl00_mainslot_cartslot_npcdlblock_gridOrderDetail tr.npbody {
    padding: 6px 0;
    height: 80px;
}

#ctl00_ctl00_mainslot_cartslot_npcdlblock_gridOrderDetail tr.npbody td, #ctl00_ctl00_mainslot_cartslot_npcdlblock_gridOrderDetail tr.npbodyalt td {
    padding: 0 6px;
}

#ctl00_ctl00_mainslot_cartslot_npcdlblock_gridOrderDetail tr.npbody td input, #ctl00_ctl00_mainslot_cartslot_npcdlblock_gridOrderDetail tr.npbodyalt td input {
    display: block;
    margin: 0 5px;
    float: left;
}

#ctl00_ctl00_mainslot_cartslot_npcdlblock_pnl {
    margin-top: 20px;
    padding: 10px 20px 0px 20px;
    width: 250px;
    float: left;
}

#ctl00_ctl00_mainslot_cartslot_npcdlblock_pnl .npadminheader {
    font-size: 12px;
    text-align: left;
    text-indent: 6px;
}

#ctl00_ctl00_mainslot_totalslot_expenses_sysgrid {
    display: block;
    margin: 20px 20px 10px 0;
    padding: 20px;
    width: 200px;
    background-color: #f9f9f9;
    border: 1px solid #cecece;
    border-radius: 4px;
    float: right;
}

#ctl00_ctl00_mainslot_totalslot_expenses_sysgrid tr {
    padding: 10px 0;
    font-size: 13px;
}

#ctl00_ctl00_mainslot_totalslot_expenses_sysgrid tr td {
    padding: 2px 0 2px 0;
    border-bottom: none;
}

#ctl00_ctl00_mainslot_totalslot_expenses_sysgrid tr td:first-child {
    padding-right: 30px;
    font-weight: bold;
}


#cart-page-total {
    margin-top: 30px;
}

#ctl00_ctl00_mainslot_cartslot_npcdlblock_discount_txtDiscountCode {
    display: block;
    margin: 8px 5px;
    float: left;
}

#ctl00_ctl00_mainslot_cartslot_npcdlblock_discount_btnApplyDiscount {
    margin-top:2%;
    margin-right:92%;
    float: right;


}

#cart-page-total, #tblOrder {
    display: block;
    padding: 20px;
    width: 220px;
    float: right;
    border: 1px solid #eee;
    border-radius: 3px;
    margin-right: 30px;
}

#ctl00_ctl00_mainslot_mainslot_paymentBlock_summaryGrid, 
#ctl00_ctl00_mainslot_mainslot_paymentBlock_grid_DataRow_0 {
    width: 200px;
}

#ctl00_ctl00_mainslot_mainslot_paymentBlock_summaryGrid td:first-child, 
#ctl00_ctl00_mainslot_mainslot_paymentBlock_grid_DataRow_0 td:first-child {
    width: 110px;
}

#ctl00_ctl00_mainslot_mainslot_paymentBlock_btnDelete {
    margin: 10px 0;
}

.review-address-wrapper {
    padding: 20px;
    display: block;
}

.review-address-wrapper tr td {
    width: 300px;
}

#ctl00_ctl00_mainslot_mainslot_btnOrder {
    display: block;
    margin: 0 auto;
    width: 130px;
}

#ctl00_ctl00_mainslot_mainslot_expenses_sysgrid {
    margin: 20px 0;
}

#cart-page-total .nptable {
    width: 210px;
}

.tblAddress {
    padding: 60px 20px 10px 20px;
    display: block;
}

.tblAddress .npsubheader {
    padding: 10px 0;
    font-weight: 700;
}

#ctl00_ctl00_mainslot_mainslot_AddAddress_EditPanel {
    width: 90%;
}

#ctl00_ctl00_mainslot_mainslot_rblShippingAddress tr,
#ctl00_ctl00_mainslot_mainslot_rblBillingAddress tr {
    margin: 10px 0;
    padding-left: 20px;
    min-height: 30px;
    display: block;
}

#ctl00_ctl00_mainslot_mainslot_rblShippingAddress input, 
#ctl00_ctl00_mainslot_mainslot_rblBillingAddress input {
    display: block;
    float: left;
}

#ctl00_ctl00_mainslot_mainslot_rblShippingAddress label, 
#ctl00_ctl00_mainslot_mainslot_rblBillingAddress label {
    padding-left: 30px;
    display: block;
}

#ctl00_ctl00_mainslot_mainslot_topimage {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -250px;
}

.telephone-input-wrapper {
    padding: 20px 0 0 20px;
}

.telephone-input-wrapper h6 {
    font-weight: 700;
}

.telephone-input-wrapper p {
    padding: 10px 0;
}

.telephone-input-wrapper p input {
    display: block;
    margin-top: 8px;
    clear: both;
}

.continue-button, #ctl00_ctl00_mainslot_mainslot_btnNext {
    display: block;
    float: right;
    margin: 20px 30px 0  0;
}

#tblShipInfo {
    display: block;
    margin: 0 0 0 30px;
    padding: 20px;
    width: 300px;
    border: 0px solid #fff;
}

#ctl00_ctl00_mainslot_mainslot_sysError {
    display: block;
    padding: 50px 0 0 40px;
}

#ctl00_ctl00_mainslot_cartslot_npcdlblock_discount_gvAppliedCoupons td {
    padding: 0 10px 0 0;
}

#ctl00_ctl00_mainslot_mainslot_tblEditAddress tbody {
    display: block;
    padding: 0;
}

.shipping-checkout-table {
    display: block;
    padding: 20px;
}

.cart-actions {
    display: block;
    margin: 0 auto;
    padding: 50px 0 0 0;
    width: 400px;
}

.cart-actions li {
    display: inline-block;
}

/* Flow 3 */

#ctl00_ctl00_mainslot_mainslot_clbackTotals #tblShipInfo {
    margin: 0;
    padding: 0;
    width: 100%;
}

#tblNew {
    float: left;    
}

#ctl00_ctl00_mainslot_mainslot_ddlBillingAddress {
    margin-bottom: 30px;
}

#ctl00_ctl00_mainslot_mainslot_paymentBlock_imgVerification, #ctl00_ctl00_mainslot_mainslot_paymentBlock_Image1 {
    display: none;
}

#ctl00_ctl00_mainslot_mainslot_sysErrorMessage {
    position: absolute;
    top: 10px;
    right: 20px;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 80%;
    text-align: center;
}

#ctl00_ctl00_mainslot_mainslot_tblViewAddress td{
    padding-left: 20px;
}


/* Flow 4 */

.single-page-checkout {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e8e8ea;
    border-bottom: 2px solid #e8e8ea;
    border-radius: 3px;
    margin-top: 14%;
}

.single-page-checkout h1 {
    margin-bottom: 5px !important;
}

#ctl00_ctl00_mainslot_mainslot_BillingAddressBlock_EditPanel {
}

#ctl00_ctl00_mainslot_mainslot_BillingAddressBlock_EditPanel #tblAddress {
    margin-left: 10px;
}

#ctl00_ctl00_mainslot_mainslot_BillingAddressBlock_EditPanel #tblAddress td:first-child {
    padding-right: 10px;
    width: 80px;
    text-align: right;
}

.single-checkout-payment-area {
    padding-bottom: 40px;
    width: 100%;
    float: left;
}

#ctl00_ctl00_mainslot_mainslot_clbackTotals {
    display: inline-block;
    padding: 0;
    padding-left: 1em;
    float: left;
}

#ctl00_ctl00_mainslot_mainslot_tblEditAddress {
    width: 49%;
    float: left;
    // border-right: 1px solid #ddd;
}

#ctl00_ctl00_mainslot_mainslot_BillingAddressBlock_txtStreet1 {
    width: 100%;
}

#cart-billing-address {
    padding: 0 10px;
    float: left;
}

.cart-section-heading {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 400;
    display:none;
}

.cart-section-headings {
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;

}

.customer-phone-numbers {
    margin: 0;
    padding: 0;
    clear: both;
}

.single-checkout-product-area {
    width: 49%;
    float: right;
}

.single-checkout-product-area .npsubheader th {
    background-color: #eee !important;
}

.single-checkout-product-area tr.npbody {
    background-color: transparent;
}

#ctl00_ctl00_mainslot_mainslot_tblViewAddress {
    padding: 0 30px;
    width: 400px;
    float: left;
}

#ctl00_ctl00_mainslot_mainslot_tblViewAddress ul {

}

.single-page-checkout #ctl00_ctl00_mainslot_mainslot_ddlBillingAddress {
    margin-bottom: 10px;
    width: 300px;
}

.single-page-checkout #tblAddress tr {
    margin-bottom: 5px;
    height: auto;
}

.single-page-checkout #tblAddress tr input {
    margin: 4px 0;
    padding: 2px;
    height: 18px;
}

#ctl00_ctl00_mainslot_mainslot_paymentBlock_pnlNew {
    margin: 0;
    width: 400px;
    float: left;
}

#ctl00_ctl00_mainslot_mainslot_paymentBlock_pnlNew #tblNew tr {
    height: auto;
}

/*.customer-phone-numbers ul {
margin-left: 10px;
width: 300px;
font-size: .95em;
}

.customer-phone-numbers li {
margin-bottom: 5px;
height: auto;
}

.customer-phone-numbers li label {
display: inline-block;
padding-right: 10px;
width: 80px;
text-align: right;
}

.customer-phone-numbers li input {
margin: 4px 0;
padding: 2px;
height: 18px;
}*/

/* Shipping Wrapper */

.global-shipping-wrapper {
    width: 100%;
}


/* Login */

.create-account-area h5, .existing-accounts-area h5 {
    padding: 0 0 0 20px;
    margin: 0 0 8px 0;
    color: #61688c;
}

[id*='nploginblock_loginMain_UserName'] {
    width: 75% !important;
}
[id*='nploginblock_loginMain_Password'] {
    width: 75% !important;
}
[id*='nploginblock_loginMain_lnkForgotPassword'] {
    margin-left: 15px !important;
}
[id*='nploginblock_loginMain_LoginButton'] {
    padding-top: 10px !important;
}
.create-account-area p {
    padding: 0 20px 5px 20px;
    font-size: 12px;
    width: 80%;
}

#ctl00_ctl00_mainslot_newuserslot_CreateAccountButton {
    margin-left: 20px;
}

.existing-accounts-area table {
    padding: 5px 10px;
    display: block;
}

#ctl00_ctl00_mainslot_loginslot_nploginblock_loginMain_RememberMe {
    margin-top: 16px;
}

#ctl00_ctl00_mainslot_messageslot_sysMessage {
    display: block;
    padding: 10px 0 0 20px;
    width: 100%;
    color: #f25508;
    font-style: italic;
    font-weight: 400;
}

#ctl00_ctl00_mainslot_newuserslot_nploginblock_loginMain_LoginButton {
    width: 140px;
}

.global-login-wrapper {
    margin-top:17%;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e8e8ea;
    border-bottom: 2px solid #e8e8ea;
    border-radius: 3px;
    float: right;

}

/* Create Account */

#ctl00_mainslot_CreateUserWizard1 {
    //  margin: 50px auto;
    width: 70%;
    float: right;
}

#ctl00_mainslot_CreateUserWizard1 tr {
    height: 30px;
}

#ctl00_mainslot_CreateUserWizard1 tr td {
    padding-right: 10px;
}

#ctl00_mainslot_CreateUserWizard1 .npsubheader {
    padding: 10px 0 20px 0;
    height: 40px;
    font-size: 24px;
    font-weight: 300;
}

#ctl00_mainslot_CreateUserWizard1___CustomNav0_StepNextButtonButton {
    display: block;
    margin: 20px auto 20px auto;
    width: 100px;
}

#create-account-heading {
    margin-left: 0 !important;
    padding-left: 0 !important;
    font-size: 26px;
    font-weight: 300;
    text-align: left;
}

#create-account-fields {
    width: 325px;
    float: left;
}

.create-account-fields {
    padding-left: 50px;
    width: 300px;
    border-left: 1px solid #ccc;
    float: left;
}

#create-account-fields li, .create-account-fields li {
    margin-bottom: 8px;
}

#create-account-fields li h6, .create-account-fields li h6 {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.3333em;
}

#create-account-fields li input {
    padding: 4px 6px;
    width: 240px;
    height: 20px;
    line-height: 20px;
    color: #555555;
    font-size: 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.create-account-fields li input {
    padding: 4px 6px;
    width: 240px;
    height: 20px;
    line-height: 20px;
    color: #555555;
    font-size: 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.create-account-username {
    width: 30px;
    height: 30px;
    background: transparent url('assets/img/avatar.png') left center no-repeat;
    float: left;
}

.create-account-password {
    background: transparent url('assets/img/password.png') left center no-repeat;
}

.create-account-password {
    background: transparent url('assets/img/mail.png') left center no-repeat;
}

.remember-me-account {
    padding: 50px 0 20px 0;
    text-align: center;
    clear: both;
}



/* My Account */

.my-account-wrapper {
    max-width: 740px;
    width: auto;
    background-color: #fff;
    border: 1px solid #e8e8ea;
    border-bottom: 2px solid #e8e8ea;
    border-radius: 3px;
    float: right;
}

.create-account-wrapper{
    width: 100%;
    background-color: #fff;
    border: 1px solid #e8e8ea;
    border-bottom: 2px solid #e8e8ea;
    border-radius: 3px;
    float: right;
    margin-top: 16%;
    margin-right: 17%;






}

/* Admin */

.user-header-breadcrumb {
    display: block;
    margin: 8px 0 30px 0;
}

.user-header-breadcrumb a {
    margin: 0 5px;
    display: inline-block;
    float: left;
}

.user-header-breadcrumb img {
    margin: 0 5px;
    display: inline-block;
    float: left;
    width: 20px;
}

#ctl00_mainslot_pnlAdmin{
    display: block;
    margin: 0 auto;
    width: 120px;
}

#ctl00_mainslot_SavedOrders_gridSavedLists, #ctl00_mainslot_OrderListsSaveBlock1_divNew {
    margin: 30px 20px 20px 20px;
    padding: 40px 20px 30px 20px;
}

.npemtpy {
    text-indent: 30px;
}

#ctl00_mainslot_lnkChangePassword {
    display: block;
    margin: 20px 20px 0 20px;
    float: left;
}

#ctl00_mainslot_UserProfile_UpdateButton {
    margin-top: 40px;
    float: left;
}

#ctl00_mainslot_lnkLogout {
    margin: 30px auto;
    display: block;
    width: 132px;   
}

/* Footer */

.footer {
    display: block;
    margin: 20px auto;
    padding: 10px 0;
    width: 100%;
    height: 40px;
    font-size: 11px;
    border-top: 1px solid #A2A2A2;
    border-bottom: 1px solid #A2A2A2;
    clear: both;
}

.global-footer h6 {
    padding: 20px 0 22px 0;
    font-size: 18px;
    font-weight: 300;
}

.global-footer p {
    color: #666666;
}

.global-footer .col-md-5 {
    border-right: 1px solid #B5B5B5;
}

.global-footer .col-md-3 {
    text-align: center;
    border-right: 1px solid #B5B5B5;
}

.global-footer .col-md-5, .global-footer .col-md-3, .global-footer .col-md-4 {
    margin: 25px 0 10px 0;
    padding-bottom: 30px;
}

.global-footer .col-md-4 {
    text-align: center;
}

.footer-container {
    display: inline-block;
    padding: 0 5%;
    width: 18%;
    float: left;
}

.footer-container h2 {
    padding-bottom: 10px;
    font-weight: 600;
}

.copyright {
    display: inline-block;
    text-align: center;
    clear: both;
}

.email-contact-social h2, .email-contact-social label {
    margin-bottom: 10px;
    font-size: 18px;
}

.email-contact-social  {
    margin-top: 40px;
    padding: 30px 0 20px 0;
    text-align: center;
    border-top: 1px double #8E8E8E;

}

.email-contact-social .form-control {
    margin: 20px 0;
}

.email-contact-social .btn-default {
    color: #FFF;
    text-transform: uppercase;
    background-color: #000;
    border: none;
    border-radius: 0;
    float: left;
}
#webform_submit_button:hover{
    color:white;
    background-color:#08c;

}
/* Flexible Form */

.flexible-form {
    padding: 0 0 0 40px;
}

.flexible-form li {
    padding: 5px 0;
    height: auto;
}

.flexible-form label {
    display: block;
    padding: 7px 0 4px 0;
    color: #61688c;
}

.flexible-form li input {
    display: block;
    margin: 0;
    padding: 5px 4px;
    width: 250px;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

input[type="checkbox"] {
    width: 20px !important;
    float: left;
}

.required-form-field {
    float: left;
}

.remember-me-label {
    font-size: 12px;
}

.remember-me-label #ctl00_ctl00_mainslot_newuserslot_nploginblock_loginMain_RememberMe {
    display: inline-block;
    padding: 0;
    margin-top: 3px;
    float: left;
    width: 20px;
}

.remember-me-label label {
    display: inline-block;
    padding: 0;
}

.existing-accounts-area {
    margin-bottom: 50px;
    width: 310px;
    float: left;
}

.existing-accounts-area label, .existing-accounts-area input {
    margin: 0 0 5px 13px;
    width: 90%;
    font-size: 13px;
    display: block;
}

.existing-accounts-area td {
    width: 300px;
}

#ctl00_ctl00_mainslot_loginslot_nploginblock_loginMain_LoginButton {
    width: auto;
}

#ctl00_ctl00_mainslot_newuserslot_nploginblock_loginMain_lnkForgotPassword {
    font-size: 12px;
}

.create-account-area {
    width: 310px;
    float: left;
}

/* UI Fixes */

#lt, #rt {
    display: none;
}

.nptable {
    margin: 10px;
}

.demo-notice {
    position: fixed;
    top: 2px;
    left: 50%;
    padding-top: 4px;
    margin-left: -50px;     
    width: 100px;
    text-align:center;
    color: rgb(0, 136, 204);
    font-weight: bold;
    font-size: 14px;
    font-weight: bold;
    z-index: 1002
}

.global-mobile-menu-tag {
    display: none;
}

.white-gloss-bg {
    display: inline-block;
    margin: 0;
    padding: 8px 0 9px 0;
    width: 100%;
    font-size:16px;
    font-weight:bold;
    text-indent: 28px;
    background: transparent url('assets/img/gloss-gradient.png') top left repeat-x;
}

.full-width-wrapper {
    width: 100%;
    background-color: #fff;
    border: 1px solid #e8e8ea;
    border-bottom: 2px solid #e8e8ea;
    border-radius: 3px;
    float: right;
    margin-top:14%;

}



@media (max-width:1116px) {
    .full-width-wrapper {
        margin-top:23%;

    }
}

@media (max-width:550px) {
    .full-width-wrapper {
        margin-top:34%;

    }
}




#right {
    clear: both;
}

.white-bg {
    margin-top:13%;
    margin-bottom: 10%;
    padding-bottom:5%;
    background-color: #fff;
    border: 1px solid #e8e8ea;
}

/* Grid */

.col-md-3 {
    width: 25%;


}

.col-md-9 {
    width: 75%;
}

.cart-option-wrapper {
    display: none;
}
.global-brands-bar{
    position:relative;
    list-style:none;
    display:inline-block;
    width:100%;
    height:80%;
    margin:0;
    padding:0;
}
.global-brands-bar li{
    display:inline-block;
    /*border-left:1px solid #C0C2C9;*/
    /*border-right:1px solid #C0C2C9;*/
    margin-right:13px;
    background-color:white;
}


.global-brands-bar li a {
    display: block;
    padding: 5px 15px;
}
/* MOBILE NAV FIX */

@media  (max-width: 1024px) { 

    .mega_menu_link  a {

        font-weight: 700;
        font-size: 11px;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 1em;
        color: #999;
        display: inline-block;
    }

}

@media ( max-width: 430px ) {

    .cart {
        display:none !important;
    }
}

@media only screen and ( max-width: 680px ) {



    .global-brands-bar li {
        padding: 3px 10px 0 10px;
    }

    .global-brands-bar li img {
        width: 44px;
    }

    .global-brand {
        margin: -4px 10px 0 0px;
        padding: 15px 5px;
        width: 103px;
        background-size: 103px;
    }

    .login-cart-container .container {
        padding: 0;
    }

    .global-login-account {
        width: 60%;
    }

    .cart {
        padding: 8px 5px 0 0;
        width: auto !important;
    } 

    #ctl00_ctl00_bannerslot_ctl02_loginMain {
        display: none !important;
        padding-left: 4px;
        width: 90px;
        float: left;
    }

    .home-call-promo-banner {
        padding: 10px;
    }

}

@media only screen and ( max-width: 520px ) {

    #mmenu li:hover {
        text-align: center;
    }

    #ctl00_bannerslot_ctl02_loginMain {
        display: none;
    }

}

/* MOBILE NAV FIX END */

@media only screen and (max-width : 320px) {
    .sales_container{

        margin-top:11%;
    }


}


@media only screen and (min-width : 619px) and (max-width : 699px) {

    .sales_container{

        margin-top:11%;



    }
}

@media only screen and (min-width : 620px) and (max-width : 1199px) {

    .itemcontainer {
        margin-top:21%;


    }


}

@media only screen and (min-width : 560px) and (max-width : 620px) {

    .itemcontainer {
        margin-top:23%;


    }


}

@media only screen and (min-width : 320px) and (max-width : 560px) {
    .itemcontainer {
        position: relative;
        margin-top:40%;             
    }
}
/* added by Nikhilesh 
.container_2 > #ctl00_mainslot_lblConfirm{
min-height: 30vh;
overflow: hidden;
display: block;
position: relative;   
text-align: center;
padding-top: 30px; 
}

@media only screen and (max-width: 1200px){
.create-account-wrapper{

margin-top:35%;
margin-right:0%;
margin-left: 10%;
}

#ctl00_mainslot_CreateUserWizard1{
width: 70%;
float:none;
}

}
added by nikhilesh end */


@media only screen and (min-width : 320px) and (max-width : 620px) {


    #mainMenu{

        display:none;
    }


    body {
        padding: 30px 0 0 0;
    }

    .demo-notice {
        top:26px;
        color: white;
    }

    #header .npbannerslot {

    }

    .header-search-wrapper {
        display: none;
    }


    .sales_container {

    }


    .loginblock {
        padding-left: 5px;
    }

    .global-login-account {

    }

    .menu {

    }

    .global-menu {
        position: absolute;
        top: 110px;
        right: 10px;
        z-index: 100;
        margin: 0;
        padding: 10px 5px;
        overflow: hidden;
        width: 300px;
        background-color: rgba(0,0,0,0.75);
        border-radius: 4px;
        display: none;
    }

    .global-menu li {
        display: block;
        padding: 5px 0;
        width: 100%;
        height: 25px;
    }

    .global-menu li a {
        display: inline-block;
        width: 100%;
        color: #fff;
    }

    .global-mobile-menu-tag {
        display: block;
        margin: 7px 5px 0 0;
        padding: 15px 10px 0 0;
        color: #fff;
        float: right;
        text-indent: -99999px;
        background: transparent url('assets/img/mobile-menu.png') center center no-repeat;
    }

    .global-mobile-menu-tag:hover {
        cursor: pointer;
    }

    .show-mobile-menu {
        display: block !important;
    }


    /* Grid */

    .col-md-3, .col-md-9 {
        margin-bottom: 10px;
        padding-top:10px;

    }

    .single-checkout-product-area, #ctl00_ctl00_mainslot_mainslot_tblEditAddress {
        width: 100%;
    }

    .item-not-available {
        display: block;
        padding: 0 2%;
        width: 96%;
        padding-bottom: 20px;
        clear: both;
    }

    #container {

    }

    #maincontent {

    }

    .featured, .item-listing-wrapper, .item-tab-wrapper, .cart-global-wrapper, .global-login-wrapper  {
        margin: 22% auto;
        width: 100%;


    }

    .global-login-wrapper {
        margin: 36% auto;
        width: 100%;


    }

    .cart-global-wrapper{

        margin: 0 auto;
        width: 100%;
        margin-top:26%;                                                                             

    }

    .create-account-wrapper{

        margin-top:35%;
        margin-right:0%;
        margin-left: 10%;
    }

    #ctl00_mainslot_CreateUserWizard1{
        width: 70%;
        float:none;
    }

    .global-sidebar {
    }



    #media {
        padding: 20px 0 0 0;
        width: 100% !important;
        height: auto;
    }

    #media img {
        margin: 0 auto;
        height: auto;
    }
    #allPartImagesCarrousel{
        margin-left: 10px;
    }

    .item-image {
        display: block;
        margin: 0 auto;
        padding: 5px 0 10px 0;
        float: none;
    }

    .featured-name {
        width: 100%;
        text-align: center !important;
    }

    .item-amount {
        display: block;
        margin: 0 auto;
        width: 100px;
        float: none !important;
    }

    .product-detail-wrapper {
        padding: 0;
        width: 100%;
        float: left;
    }

    .itemsidebar1 {
        position: relative;
        top: 250px;
        left: 50%;
        width: 240px;
        float: none;
        margin-left: -125px;
    }

    #ctl00_ctl00_mainslot_partsize_nppsblock_pnlMain {
        padding: 20px 20px;
        color: #777;
        font-style: italic;
        text-align: center;
        border-width: 0 !important;
    }

    #desc {
        width: 100%;
    }

    .css-tabs li {
        display: none;
    }

    #b1udf {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        border-right: none;
        border-left: none;
    }

    .css-panes {
        margin: 0 auto;
        width: 280px;
    }

    #remarks, #cross, #var {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #cross {
        padding-bottom: 30px;
        margin-left:-30%;
        border-left: none;  
    }

    /* Create Account */

    .create-account-area {
        float: right;
        clear: both;
    }

    .existing-accounts-area {
        margin: 0 auto 20px auto;
        width: 100%;
        float: none;
    }

    .existing-accounts-area h5 {
        padding-left: 25px;
    }

    .existing-accounts-area .flexible-form {
        padding-left: 10px;
    }

    .create-account-area {
        margin: 0 auto 50px auto;
        padding-top: 20px;
        width: 300px;
        float: none;
        border-top: 1px solid #ddd;
    }

    .create-account-area p {
        padding-top: 0;
    }   

    /* Checkout */

    #ctl00_ctl00_mainslot_mainslot_tblEditAddress, #ctl00_ctl00_mainslot_mainslot_CartList_pnl {
        border: none;
        padding: 0 2%;
        width: 96%;
    }

    #ctl00_ctl00_mainslot_mainslot_topimage {
        margin-top: 5px;
        padding: 0;
        width: 300px;
    }

    #ctl00_ctl00_mainslot_mainslot_topimage {
        left: 0;
        margin-left: 0;
        display: none;
    }

    .cart-options {
        display: none;
    }

    #ctl00_ctl00_mainslot_cartslot_npcdlblock_gridOrderDetail {
        margin: 10px 0 0 0;
    }

    tr.npsubheader {
        display: none;
    }

    #ctl00_ctl00_mainslot_cartslot_npcdlblock_gridOrderDetail tr.npbody, #ctl00_ctl00_mainslot_cartslot_npcdlblock_gridOrderDetail tr.npbodyalt {
        display: block;
        margin: 10px auto;
        width: 80%;
        height: 180px;
        float: none;
        border: 1px solid #eee !important;
        border-radius: 4px;
    }

    #ctl00_ctl00_mainslot_cartslot_npcdlblock_gridOrderDetail tr.npbody td, #ctl00_ctl00_mainslot_cartslot_npcdlblock_gridOrderDetail tr.npbodyalt td {
        padding: 0 6px;
        display: block;
        margin: 0 auto;
        width: 90%;
        float: left;
        border: none;
    }

    #ctl00_ctl00_mainslot_mainslot_tblEditAddress tbody {
        padding: 20px 5px;
    }

    #tblAddress {
        width: 100%;
    }

    #tblAddress tr td {
        display: block;
        width: 100%;
        clear: right;
        float: left
    }

    #ctl00_ctl00_mainslot_mainslot_CartList_gridOrderDetail tr {
        display: inline-block;
        margin: 10px auto;
        padding: 10px 0;
        width: 100%;
        height: auto;
        float: none;
        border-bottom: 1px solid #eee !important;
        border-radius: 4px;
    }

    #ctl00_ctl00_mainslot_mainslot_CartList_gridOrderDetail tr td {
        padding: 0 20px;
        display: block;
        margin: 0 auto;
        width: 80%;
        height: auto;
        float: left;
        border: none;
    }

    /* Flow 4 */

    .single-page-checkout {
        margin: 26% auto;
        padding: 0;
        width: 100%;
    }

    .single-page-checkout #ctl00_ctl00_mainslot_mainslot_ddlBillingAddress {
        margin-bottom: 10px;
        width: 200px;
    }

    .single-page-checkout #tblAddress tr {
        margin-bottom: 25px;
        height: 60px;
    }

    .single-page-checkout #tblAddress tr input {
        margin: 4px 0;
        padding: 2px;
        height: 18px;
        border-radius: 3px;
        border: 1px solid #aaa;
    }

    #cart-billing-address {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    .customer-phone-numbers {
        padding: 10px 0 20px 0;
        width: 100%;
    }

    .cart-section-heading {
        margin: 10px 0;
        font-size: 1.2em;
        font-weight: 300;
        text-align: left;
    }

    #ctl00_ctl00_mainslot_mainslot_btnSaveAddress {
        display: block;
        margin: 0;
        width: 86px;
        float: left;
    }

    .single-checkout-product-area #ctl00_ctl00_mainslot_mainslot_CartList_gridOrderDetail tr.npsubheader {
        display: none;
    }

    .single-checkout-payment-area #ctl00_ctl00_mainslot_mainslot_clbackTotals  {
        width: 100%;
    }

    #ctl00_ctl00_mainslot_mainslot_paymentBlock_pnlNew {
        width: 280px;
    }

    /* Item Listing */

    .npsubheader {
        display: none !important;
    }

    .product-table-list-view {
        text-align: center;
    }

    .product-table-list-view span {
        display: block;
        padding: 5px 0;
        width: 100%;
        text-align: center;
    }

    #ctl00_ctl00_mainslot_mainslot_npplblock_PartsListGrid tr {
        display: inline-block;
        margin: auto;
        padding: 10px 0;
        width: 100%;
        height: auto;
        float: none;
        border-bottom: 1px solid #eee !important;
        border-radius: 4px;
    }

    #ctl00_ctl00_mainslot_mainslot_npplblock_PartsListGrid tr:first-child {
        display: none;
    }

    #ctl00_ctl00_mainslot_mainslot_npplblock_PartsListGrid tr td {
        padding: 0 20px;
        display: block;
        margin: 0 auto;
        width: 80%;
        height: auto;
        float: left;
        border: none;
    }

    /* Picture Views */

    #ctl00_ctl00_mainslot_mainslot_npplblock_PartsListRepeater, #ctl00_ctl00_mainslot_mainslot_npplblock_PartDetailListRepeater {
        margin-top: 20px;
    }

    #ctl00_ctl00_mainslot_mainslot_npplblock_PartsListRepeater tr, #ctl00_ctl00_mainslot_mainslot_npplblock_PartDetailListRepeater tr {
        display: inline-block;
        margin: 0px auto;
        padding: 10px 0;
        width: 100%;
        height: auto;
        float: none;
    }

    #ctl00_ctl00_mainslot_mainslot_npplblock_PartsListRepeater tr td, #ctl00_ctl00_mainslot_mainslot_npplblock_PartDetailListRepeater tr td {
        padding: 20px 0;
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
        float: left;
        border-bottom: 1px solid #eee !important;
    }

    .price-checkout-table {
        display: block;
        margin: 0 auto;
        width: 310px;
    }


    /* Home */

    .home-hero-slogan h1 {
        display: block;
        padding: 0;
        margin: 10px auto;
        width: 280px;
        background-size: 280px 38px; 
    }

    .home-hero-slogan h5 {
        display: block;
        margin: 10px auto;
        padding-top: 0px;
        width: 50px;
        float: none;
    }

    .home-hero-slogan p {
        text-align: center;
    }

    .home-billboard-button {
        display: block;
        margin: 20px auto;
    }

    .home-hero-slogan {
        padding-bottom: 0px;
    }

    .carousel-caption {
        top: 18%;
        bottom: auto;
    }

    /* Show Categories */

    .show {
        display: block !important;
    }

    /* Footer */

    #bottom .footer-container {
        display: block;
        padding: 0;
        margin-bottom: 30px;
        width: 250px;
        clear: both;
    }

    /* Login */

    .existing-accounts-area .flexible-form {
        display: block;
        margin: 0 auto;
        max-width: 300px;
    }

    /* Flexible Form */

    #ctl00_ctl00_mainslot_newuserslot_nploginblock_loginMain_lnkForgotPassword {
        text-align: center;
    }

    /* admin */

    .user-header-breadcrumb {
        margin-bottom: 5px;
    }

    .css-tabs-admin {
        margin-top: 0;
    }

    .css-panes-admin #AcctInfo, .css-panes-admin #OrderInfo {
        width: 100%;
    }

    #ctl00_bannerslot_ctl02_loginMain {
        display: inline;
        padding: 0px 0 0 20px;
    }

}



/* MOBILE STYLES */

@media screen and (max-width : 920px) {

    .email-contact-social .col-md-3 {
        width: 100% !important;
    }

    .email-contact-social {
        text-align: left !important;
    }

    .footer-social {
        display: inline-block;
    }



}

@media screen and (max-width : 600px) {

    .home-hero-image {

        width:100%;

    }

}

/* MOBILE NAV */
.navbar-default .navbar-toggle {
    background-color: #000;
    border: none;
}

@media screen and (max-width: 767px) {
    .navbar-wrapper .navbar-default .navbar-collapse {
        border-bottom: 2px solid #000;
    }

    #mmenu li {
        margin-right: 0;
    }


    #mmenu .mmenu_rightmost {
        margin-right: 0;
    }

    #mmenu li a {
        font-size: 18px;
    }

    #mmenu, #mmenu .mmenu_right {
        display: block;
        width: 100%;
    }
}

/* Print stuff */
/* Don't print link hrefs */
@media print {
    a[href]:after {
        content: none;
    }


    .menu, #ctl00_ctl00_menuslot_menuslot_lnkEdit {
        display: none;
    }

    div#partImages {
        display: none;
    }

    div#mfooter, .email-contact-social {
        display: none;
    }

    .carousel-control, .home-call-promo-banner {
        display: none;
    }

    .mcAddToCart, #mcqtyInput, ul.product-share,
    .double-lines, #cross, .reviews, h4 {
        display: none;
    }

    body {
        padding: 0px;
    }

    #media .carousel .item {
        width: 100%;
        height: auto;
    }

    .carousel .item img {
        width: 100%; /*img width*/
    }

    #media {
        width: 50%;
    }
    .product-detail-wrapper {
        width: 50%;
    } 
    .print-domain {
        text-align: center;
        font-size: larger;
        font-family: 'Prata', 'Playfair Display', serif;
    }
    footer div {
        width: 100%;
    }
}

@media (max-width: 1500px) and (min-width: 681px){
    #weeklyNews {
        height: 90px;

    }
}


#weeklyNews{
    margin-top:-23px;
    width:100%;
    height:43px;
    font-size:14px;
    background-color:#E7E7E7;
    margin-bottom:-91px;
    text-align:center;
}

#weeklyNews2{
    margin-top:-19px;
    width:100%;
    height:43px;
    font-size:14px;
    background-color:#E7E7E7;
    margin-bottom:-91px;
    text-align:center;
}
#weeklyNews h2 {
    position: absolute;
    text-align: center;
    font-weight: bolder;
    color:black;
}

#weeklyNews2 h2 {
    position: absolute;
    text-align: center;
    font-weight: bolder;
    color:black;
}
#firstS{
    animation: first 10s ease infinite;
}
#secondS{
    animation: second 10s ease infinite;
}
@keyframes first{
    0%  {
        opacity:1;
    }
    40% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    75% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
@keyframes second{
    0%  {
        opacity:0;
    }
    40% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
    75% {
        opacity:1;
    }
    100% {
        opacity:1;
    }
}

#mobileMenu button{
    display:none;
    position:fixed;
    top:15px;
    left:15px;
    border:none;
    outline:none;
    background-color:transparent;
    color:#000000;
    font-size:18px;
    z-index:5;
}

.navbar-brand{
    margin-top:-13px !important;
    float:left;

}
#mainMenu{
    background-color:white;
}
#mainMenu a{
    padding:14px;
    text-align:center;
    color:grey;
    font-family:'Roboto Condensed', sans-serif;
    font-size:13px;
}
#mainMenu a:hover{
    text-decoration:none;
    border-bottom:2px solid #248cd0;

}

.header-search-wrapper{
    float:right;
}
.input-group{

}
#searchbox,
#mobileSearchBox{

}
#mobileSearchBox {
    border-radius: 20px;
}
#searchtext{
    display:none;
}

/*left wrapper*/
#leftwrapper{
    position:fixed;
    top:0;
    width:300px;
    height:100%;
    background-color:#E3E3E3;
    z-index:999;
    overflow-y:auto;
}
#remove{
    position:absolute;
    width:100%;
    height:auto;
    background-color:red;
}
#btnRemove{
    position:absolute;
    right:10px;
    top:10px;
    border:none;
    outline:none;
    background-color:transparent;
    color:#3D5F8E;
}
.slidehidden{
    transform:translateX(-300px);
    transition:ease-out, 1s;
}
.slideright{
    transform:translateX(-300px);
}
.slideleft{
    transform:translateX(0px);
    transition:ease-in, 1s;
}
#logo{
    position:relative;
    top:50px;
    width:100%;
    text-align:center;
}
#sideMenu{
    position:relative;
    top:100px;
    width:100%;
    list-style:none;
    text-align:left;
    padding: 0 20px 40px 20px;

}

#sideMenu li,
.panel-body ul li{
    display:block;
    width:100%;
    background-color:white;
    border:1px solid #7a7777;
    margin-bottom:5px;
    height:40px;
}
.panel-body ul li{
    padding-left:5px;
}
#sideMenu li a,
#sideMenu li button,
.panel-body ul li a{
    display:block;
    color:#7a7777;
    font-size:12px;
    font-weight:bolder;
    padding:10px;
    width:100%;
}
#sideMenu li button{
    border:none;
    background-color:transparent;
    text-align:left;
}
#sideMenu li span{
    float:right;
    right:10px;
}
#sideMenu li #sideLogin span{
    color: #7a7777;
    margin-top: -40px;
    margin-right: 10px;
    width: 10%;
    padding-top: 10px;
    text-align: right;
    height: 50px;
}
#sideSpanCart{
    color: #7a7777;
    margin-top: 5px;
    right: 19px;
    float: right;
}
#sideMenu li #sideLogin span:hover{
    color:white;
}
#sideMenu li:hover{
    color:white;
}
#sideMenu a:hover,
#sideMenu button:hover,
#sideMenu a:active,
#sideMenu button:active,
#sideMenu li:hover{
    background-color:#3b62a1;
    color:white;
    text-decoration:none;
}
#leftMedia{
    position:absolute;
    top:850px;
    left:-20px;
    display:none;
}
#leftMedia ul{
    list-style:none;

}
#leftMedia ul li{
    display:inline;
    padding:5px;
}
#leftMedia ul li a{
    text-align:center;
    display:inline-block;
    width:30px;
    height:30px;
    border-radius:15px;
    background-color:white;
    font-size:20px;
}
#leftMedia a:hover{
    background-color:#248cd0;
    color:white;
}
#signIn{
    position:absolute;
    top:200px;
    border:1px dotted black;
    border-radius:5px;
    padding:20px;
    margin:10px;
    text-align:left;
    background-color:#b6b5b5;
    box-shadow: 5px 5px 5px gray;
}
#signIn h3{
    margin-top:-5px;
}
.btnSign{
    display:inline-block;
    width:80px;
    background-color:#3D5F8E;
    outline:none;
    margin-top:10px;
    padding:5px;
    border-radius:5px;
    color:white;
    margin-left:30px;
}
#shopLinks{
    position:absolute;
    top:110px;
    width:100%;
    height:auto;
}
#btnShopBack{
    padding-left:10px !important;
}
.panel-group{
    padding:10px !important;
}
.panel-body ul{
    list-style:none;
    text-align:left;
    padding:0;
}

.goBack{
    border:none;
    outline:none;
    background-color:#3D5F8E;
    border-radius:5px;
    color:white;
    font-size:12px;
    padding:5px;
}
.panel-primary {
    border-color:#3D5F8E !important;
}
.panel-primary > .panel-heading{
    background-color:#3D5F8E !important;
}
#sideCart > a > img{
    display:none;
}

#sideCart a:hover{
    background-color:transparent;
    color:white;
}
#sideCart {
    display: inline-block;
    margin-top:-20px;
    color: #08c;
    font-size: 15px;
    font-weight: 400;
    text-transform:uppercase;
}
#sideLogin a[id*='lnkAccount']{
    display:none;
}
#sideLogin div[id*='MyAccountPanel']{
    color: transparent;
    MARGIN-TOP: -10px;
    height: 50px;
    text-transform: uppercase;
}
#sideLogin a[id*='loginlink']{
    text-transform:uppercase;
}
#sideLogin{
    margin:0;
    padding:0;
    margin-left:-10px;
}

#sideLogin > div > a:last-child{
    display:inline-block;
    margin-left:10px !important;
    padding:0 !important;
}
#sideLogin > div >a:last-child:hover{
    background-color:transparent;
}


/*MASK*/
#mask{
    position:fixed;
    top:0;
    height:100%;
    width:100%;
    background-color:rgba(0, 0, 0, 0.66);
    z-index:998;
    overflow:hidden;
    cursor:pointer;
}
#searchMask {
    position: fixed;
    top: 100px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.66);
    z-index: 1000000;
    overflow: hidden;
    cursor: pointer;
}
/*Innovation Page*/
#innovation h1{
    font-size:50px;
}
.videoHeading{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:15px;
}
.videoDescription{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:12px;
}
#video1,
#video2,
#video3{
    width:100%;
    max-width:400px;
    height:auto;
}
.innovationLinks{
    text-transform:uppercase;
    background-color:#C7D1DD;
    color:#3B62A1;
    width:50px;
    height:30px;
    padding:10px;
    border-radius:5px;
    margin-top:20px;
    font-weight:bolder;
}
.innovationLinks:hover{
    background-color:#3B62A1;
    color:white;
    text-decoration:none;
    transition:.5s all;
}



/*Mobile version*/
@media (max-width:430px){
    .global-brands-bar li a{
        padding:0;
    }
    #MainNav{
        top:40px;
    }
    #mobileMenu button{
        top:10px;
        left:5px;
    }
}
@media (min-width:1920px){
    .sessionblock{
        right:400px;
    }

}
@media (min-width:1400px) and (max-width:1530px){
    .sessionblock{
        right:200px;
    }

}
@media (min-width:1530px) and (max-width:1690px){
    .sessionblock{
        right:300px;
    }

}
@media (min-width:1320px) and (max-width:1400){
    .sessionblock{
        right:200px;
    }
}
@media (min-width:1691px) and (max-width:1919px){
    .sessionblock{
        right:450px;
    }

}

@media (min-width:521px) and (max-width:600px){
    .sessionblock{
        display:inline-block;
        margin-top: -8%;
        margin-right: 2%;
    }
    .global-brands-bar{
        text-align:center;
    }
    div[id*='loginMain'],
    div[id*='MyAccountPanel'] {
        display:none;
    }
    a[id*='lnkCart'] {
        display:none;
    }

}
@media (min-width:340px) and (max-width:521px){
    .sessionblock{
        display:inline-block;
        margin-top: -10%;
        margin-right: 2%;
    }
    .global-brands-bar{
        text-align:center;
    }
    div[id*='loginMain'],
    div[id*='MyAccountPanel'] {
        display:none;
    }
    a[id*='lnkCart'] {
        display:none;
    }

}
@media (min-width:200px) and (max-width:340px){
    .sessionblock{
        display:inline-block;
        margin-top: -13%;
        margin-right: 2%;
    }
    .global-brands-bar{
        text-align:center;
    }
    div[id*='loginMain'],
    div[id*='MyAccountPanel'] {
        display:none;
    }
    a[id*='lnkCart'] {
        display:none;
    }
}



@media (min-width:992px) and (max-width:1200px){

    .input-group{
        margin-top:-1px !important;
        width:100%;

    }

    #searchbox, #mobileSearchBox{

        width:100%;


    }
    #weeklyNews{
        height:90px;

    }
    .FooterRow1{
        margin-left:100px;
    }

}
@media(max-width:992px){
    #mobileMenu button{
        display:block;
    }
    .sessionblock{
        right:20px;
    }
    .FooterRow1{
        margin-left:0;
    }
    #webform_side_tab{
        right: 0;
        left: auto !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-top-left-radius: 20px !important;
        border-bottom-left-radius: 20px !important;
        padding: 5px !important;
    }
    .copyright{
        padding: 30px 0 0 0;
    }

}

@media (min-width:450px) and (max-width:992px){
    .input-group {
        margin-top: -26px !important;
        margin-right: 3%;
        width: 59%;
        float: right;
    }
}

@media (min-width:320px) and (max-width:430px){
    .input-group {
        margin-top: 8px !important;
        margin-right: 3%;
        width: 78%;
        float: right;
    }

}
@media (min-width:768px) and (max-width:992px) {
    .megamencontainer {
        display: none;
        /* display: inherit; */
    }
}
@media (max-width:767px){
    .megamencontainer{
        /*display:none;*/
        display: inherit;
    }
}
@media (min-width:310px) and (max-width:680px){
    .megamencontainer{
        top:50px;
        height:50px;
        /*padding:0;*/
        padding: 30px 20px 280px 0px;
        display: none !important; 
        background-color: #f5f5f0;
        float: right;
        border-radius: 5px;
    }
    .mega_menu_link{
        display:none;
    }

    #mobileMenu button{
        top:10px;
        left:0px;
    }
}

@media (min-width:600px) and (max-width:780px){
    .sessionblock{
        display:inline-block;
        margin-top: -7%;
        margin-right: 2%;
    }
    .global-brands-bar{
        text-align:center;
    }
    div[id*='loginMain'],
    div[id*='MyAccountPanel'] {
        display:none;
    }
    a[id*='lnkCart'] {
        display:none;
    }

}


@media (max-width:780px){
    .global-brands-bar{
        text-align:center;
    }
}
@media (min-width:781px) and (max-width:849px){
    .global-brands-bar{
        margin-left:30px;
    }
}

@media (max-width:991px){
    #mckweekly{
        display:none;
    }
}
@media (max-width:510px){
    #mfooter{
        padding-bottom:80px;
    }
}
@media (max-width: 481px){
    .col-md-3 {
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 442px){
    .input-group {
        display: none;
    }
    #btnSearch {
        display: block !important;
        margin-top:-25px !important;
    }
}
@media (max-width:402px){
    #searchbox{
        display:none;
    }
    .input-group-addon{
        border:1px solid #EEEEEE;
        border-radius:10px;
    }
}
@media (max-width:330px){
    .navbar-brand{
        margin-left:-15px !important;
    }
}

/*Animations*/
@keyframe moveRight{
    from{left:0%;}
    to{left:100%;}
}



/*MODAL*/
#myModal {
    position:absolute;
    top:150px;


}
#btnModal{
    color:#FFF!important;
    float:right;
    border:none;
    background-color:transparent;
    outline:none;
    font-size:15px;
    font-weight:800;
    position:absolute;
    right:0;
}

.modal-content{
    border-radius:10px !important;
    max-width:500px;
    max-height:500px;
}
.modal-header{
    padding:0 !important;
}
.modal-body{
    padding:0 !important;
}
.modal-footer{
    padding:0 !important;
}


/*MODAL LANDING PAGE*/
#salesMessage{
    position:relative;
    left:0;
    padding-bottom:50px;
    color:#3d5f8e;
    width:100%;
    text-align:center;
    font-family:'Franklin Gothic Book';
    animation:moveRight 5s infinity;
}
@keyframes moveRight{
    0%   {left: 0px;}
    25%  {left: 200px;}
    75%  {left: 50px}
    100% {left: 100px;}

}
.homePadding{
    padding-bottom:10px;
}
.rowPadding{
    padding-bottom:40px;
}
.rowPadding p{
    line-height:40px;
    padding:70px;
    font-size:20px;

}
@media (min-width:980px) and (max-width:1200px){
    .rowpadding p{
        padding:40px;
    }

}
@media (max-width:980px){
    .rowPadding p {
        padding: 5px 40px;
        margin-top:10px;
    }
}


/*SUBSCRIPTION*/
#webform_side_tab {
    background-color: #3b62a1 !important;
    color: white !important;
    margin-top:10px !important;
}

#btnSearch {
    display: none;
    border: none;
    outline: none;
    background-color: transparent;
    color: #3B62A1;
    margin-top: 10px;
    font-size: 25px;
    padding: 5px;
}
#btnSearch.transparentColor {
    background-color: rgba(0, 0, 0, 0.66);
}
#mobileSearch {
    display: block;
    margin: 10px 50px;
}
/*Part Detail Page*/
[id$=sysAdvanceFeatures]{
    display:none;
}
#afList li {
    background-color: none !important;
    display: inline-block;
    width: 60px !important;
    height: 30px !important;
    border: none !important;
    padding: 0 0 40px 0 !important;
    margin: 0 -5px !important;
}
video {  
    width:100%; 
    max-width:400px; 
    height:auto; 
}
.panel{
    box-shadow:none !important;
}
.panel-body5 {
    margin-top: 0px !important;
}
.carousel-inner {
    padding:0px !important;
}

.carousel-home {
    padding:0px !important;
    margin-top:90px;
}
 #media .carousel .item {
    height: auto !important;
} 
.carousel-inner > .item > img {
    width: 80% !important;
    margin-left:60px
}
.sliderControl{
    color:#3B62A1;
}
.partDetailAccordion{
    background-color:transparent;
}
.detailHeading{
    background-color:white !important;
    border:none !important;
}
.detailBody{
    border:none !important;
}
.partDetailImageContainers h1 {
    font-family: 'Lato', sans-serif;
    color: #f5f5f5;
    font-size: 12px;
    /* text-decoration: underline; */
    text-align: center;
    padding: 5px;
    background-color: #3B62A1;
    margin-bottom: 5px;
    font-weight: bold;
    margin: 0 30px 20px 30px;
    text-transform: uppercase;
}
.mc-thumbs-left {
    display: inline-block;
    margin: 0;
    width: 50%;
    float: left;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 5px;
}
.mc-thumbs-right {
    display: inline-block;
    margin: 0;
    width: 50%;
    float: right;
    cursor: pointer;
}
.partDetailImgBackground, 
.partDetailImgBackground2, 
.partDetailImgBackground3,
.partDetailImgBackground4 {
    width: 44%;
    height: 25%;/*350px for desktop*/
    background-color: rgba(59, 98, 161, 0.44);
    position: absolute;
}
.partDetailImgBackground h3, 
.partDetailImgBackground2 h3, 
.partDetailImgBackground3 h3,
.partDetailImgBackground4 h3 {
    COLOR: WHITE !IMPORTANT;
    width: 100%;
    font-size: 15px !important;
    text-align: center;
    font-weight: bolder;
    position:absolute;
    top:38%;
}
@media (max-width:1200px){
    .partDetailImgBackground h3, 
    .partDetailImgBackground2 h3, 
    .partDetailImgBackground3 h3,
    .partDetailImgBackground4 h3 {
        top:25%;

    }
}
.partDetailImgBackground span, 
.partDetailImgBackground2 span, 
.partDetailImgBackground3 span, 
.partDetailImgBackground4 span {
    position: absolute;
    top: 50%;
    left: 45%;
    color: white;
    height: 30px;
    width: 30px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
    text-align:center;
}
@media (max-width:375px){
    .partDetailImgBackground span, 
    .partDetailImgBackground2 span, 
    .partDetailImgBackground3 span, 
    .partDetailImgBackground4 span{
        left:35%;
    }
}
.mc-thumbs-bottom {
    width: 50%;
    float: left;
    cursor: pointer;
    clear: left;
    padding-left: 30px;
    padding-bottom:20px;
}
.mc-thumbs-bottom-right{
    width:50%;
    float:right;
    cursor: pointer;
    clear:right;
    padding-right:30px;
}
#media {
    position: relative;
    padding: 2% 10px;
    width: 60%;
    height: auto;
    float: left;
}
#sliderthumbs {
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 80%;
    display: inline-flex !important;
}
.reviews {
    float: left;
    padding-top: 5px;
}
#btn-add-review{
    background-color:#3B62A1;
    color:white;
}
#name {
    margin-left: 20px;
}
h3.mc-model-num {
    margin-left: 20px;
}
/* begin Hamaad edit */
/*h1.mc-item-sprice {
    margin-left: 2%;
}*/

/* Hamaad edits*/
@media (max-width:991px){

    h1.mc-item-sprice {
        /*margin-left: 2%;*/
        margin-top: 2%;
    }


}

@media (max-width:620px){

    h1.mc-item-sprice {
        /*margin-left: 2%;*/
        margin-top: 3%;
    }


}

@media (max-width:525px){

    h1.mc-item-sprice {
        /*margin-left: 2%;*/
        margin-top: 4%;
    }


}

@media (max-width:440px){

    h1.mc-item-sprice {
        /*margin-left: 2%;*/
        margin-top: 6%;
    }


}

@media (max-width:320px){

    h1.mc-item-sprice {
        /*margin-left: 2%;*/
        margin-top: 8%;
    }


}

h1.mc-item-sprice {
    margin-left: 20px;
}

/* end Hamaad edit */


.product-share li span{
    font-size:25px;
}
p.pull-right.close-product-fullscreen {
    top: 10px;
    right: -25px;
}
[id$=sysSeries] a, [id$=sysDesignerN] a,
[id$=sysVideo] {
    color: #3B62A1;
    font-weight: 600;
    font-family: inherit;
}
#collapseOne, 
#collapseTwo,  
#collapseThree,  
#collapseFour,
#collapseFive,
#collapseSix {
    margin-top: 0px;
}

/* SEARCH PAGE */
#searchContainer{
    padding:20px;
    margin:0 20px;
    overflow-x:hidden;
}
#searchContainer td {
    padding-left: 10px;
}
.searchDropdown select {
    width: 63.5%;
    height: 25px;
}
.npbody > td:nth-child(2) {
    border: none !important;
}
tr.npbody {
    background-color: #fff;
    text-align: justify;
}
@media (max-width:620px){
    tr.npbody td, tr.npbodyalt td {
        display: inline-block;
        border-bottom: 1px solid #eee;
    }

    #page-wrap{
        margin-top:21%;

    }
}
@media (min-width:545px) and (max-width:620px){
    [id$=lnkThumb] {
        margin-left: 150px;
    }
    [id$=lnkPartNo] {
        margin-left: 150px !important;
    }

}
@media (min-width:320px) and (max-width:414px){
    #searchContainer {
        padding: 5px;
        margin-top:20%;
    }
    [id$=lnkThumb] {
        margin-left: 60px;
    }
    [id$=lnkPartNo] {
        margin-left: 60px !important;
    }
}
strong {
    font-weight: bolder;
}
.pagination {
    font-size: 80%;
    display:table-row !important;
}

.pagination a, 
.pagination span {
    float: right;
    padding: 0.3em 0.5em;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top:5px;
    border-radius:4px;
    box-shadow: 0px 1px 1px 1px #434343;
    transition: box-shadow 1s;
    text-decoration: none;
    border: 1px solid white;
    /*background-color:#3B62A1;*/
    color: #000;
}
.pagination a:hover,
.pagination span:hover,
[id$=btnSearch1]:hover{
    box-shadow:none;
}
.pagination span {
    box-shadow:none;
}
#btnTD{
    padding-left:0px !important;
}
[id$=btnSearch1]{
    background-color: #FFF;
    color: #000;
    border-radius: 4px;
    border: 1px solid white;
    box-shadow: 2px 2px 2px #000;
    transition: box-shadow 1s;
}
